<!--Modal with Default options starts-->
<!-- <button class="btn btn-outline-primary" (click)="openModal(incident, 'xl')">Incident Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(email, 'lg')">Email Modal</button>
<button class="btn btn-outline-primary" (click)="showModal('asset')">Asset Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(person, 'lg')">Person Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(request, 'lg')">Request Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(notice, 'lg')">Notice Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(action, 'lg')">Action Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(popi, 'lg')">POPI Modal</button>
<button class="btn btn-outline-primary" (click)="openModal(assetWizard, 'lg')">Asset Wizard Modal</button>

<button class="btn btn-outline-primary" (click)="openModal(test, 'lg')">Test</button>-->

<section id="modals">
    <!-- test -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #test let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Test</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <app-add-email-modal></app-add-email-modal>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Send</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end test -->

    <!-- incident -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #incident let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">View Incident</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <!-- nav tabs -->
                            <ngb-tabset [destroyOnHide]="false">
                                <!-- incidents -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-grid"></i> Incidents</ng-template>
                                    <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                                        <!-- Filter datatable -->
                                        <section id="filter" class="mb-3">
                                            <div class="row text-left">
                                                <div class="col-12">
                                                    <div class="content-header">Filter</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
                                                    <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
                                                </div>
                                            </div>
                                        </section>
                                        <!-- End Filter datatable -->
                                    </ng-template>
                                </ngb-tab>
                                <!-- end incidents -->
                                <!-- overview -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-cog"></i> Overview</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="tab-content px-1 pt-1">
                                            <div role="tabpanel" class="tab-pane active" id="viewIncident1" aria-expanded="true" aria-labelledby="viewIncident-tab1">
                                                <div class="container incident-overview-popup-data">
                                                    <div class="row mt-3">
                                                        <div class="col col-2"><b>Incident Id</b></div>
                                                        <div class="col col-4">295977</div>
                                                        <div class="col col-2"><b>Site</b></div>
                                                        <div class="col col-4">Hout Bay > Kronenzicht > 2 Brunia Way</div>
                                                        <div class="col col-2"><b>Date/Time</b></div>
                                                        <div class="col col-4">18 Mar 2019 20:15</div>
                                                        <div class="col col-2"><b>Category</b></div>
                                                        <div class="col col-4">ATM Cash</div>
                                                        <div class="col col-2"><b>Incident Type</b></div>
                                                        <div class="col col-4">Incident</div>
                                                        <div class="col col-2"><b>Root Cause</b></div>
                                                        <div class="col col-4">&nbsp;</div>
                                                        <div class="col col-2"><b>Reported By</b></div>
                                                        <div class="col col-4">Hout Bay</div>
                                                        <div class="col col-2"><b>Impact</b></div>
                                                        <div class="col col-4">5. NEW</div>
                                                        <div class="col col-2"><b>Logged By</b></div>
                                                        <div class="col col-4">Hout Bay</div>
                                                        <div class="col col-2">&nbsp;</div>
                                                        <div class="col col-4">&nbsp;</div>
                                                        <div class="col col-2"><b>Status</b></div>
                                                        <div class="col col-4">Open</div>
                                                        <div class="col col-2">&nbsp;</div>
                                                        <div class="col col-4">&nbsp;</div>
                                                        <div class="col col-2"><b>Closed</b></div>
                                                        <div class="col col-4">&nbsp;</div>
                                                    </div>
                                                    <hr />
                                                    <div class="row mt-3">
                                                        <div class="col col-2"><b>Details</b></div>
                                                        <div class="col col-4">Test</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end overview -->
                                <!-- additional -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-cog"></i> Additional Information</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="container incident-additional-popup-data">
                                            <div class="row mt-3">
                                                <div class="col col-3"><b>Public Comms</b></div>
                                                <div class="col col-9">0790628389</div>
                                                <div class="col col-3"><b>AMW CB 2</b></div>
                                                <div class="col col-9">Column</div>
                                                <div class="col col-3"><b>AWM Combobox</b></div>
                                                <div class="col col-9">Column</div>
                                                <div class="col col-3"><b>AMW Test CBX</b></div>
                                                <div class="col col-9">Column</div>
                                                <div class="col col-3"><b>Program</b></div>
                                                <div class="col col-9">Column</div>
                                                <div class="col col-3"><b># Green Bins</b></div>
                                                <div class="col col-9">Column</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end additional -->
                                <!-- status history -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-cog"></i> Status History</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="container incident-status-popup-data">
                                            <div class="row mt-3">
                                                <div class="col col-4"><b>Status</b></div>
                                                <div class="col col-4"><b>Duration</b></div>
                                                <div class="col col-4"><b>Resource</b></div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end status history -->
                                <!-- fixed assets -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-calendar"></i> Fixed Assets</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="container incident-actions-popup-data">
                                            <div class="row mt-3">
                                                <div class="col col-12"><b>No Actions</b></div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end fixed assets -->
                                <!-- human -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle [disabled]="true"><i class="fa fa-cog"></i> Human Assets</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="container incident-actions-popup-data">
                                            <div class="row mt-3">
                                                <div class="col col-12"><b>No Assets</b></div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end human -->
                                <!-- actions -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-cog"></i> Actions</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="container incident-actions-popup-data">
                                            <div class="row mt-3">
                                                <div class="col col-12"><b>No Actions</b></div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end actions -->
                                <!-- audit notifications -->
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-cog"></i> Notifications</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="container incident-actions-popup-data">
                                            <div class="row mt-3">
                                                <div class="col col-12"><b>No Notifications</b></div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <!-- end notifications -->
                            </ngb-tabset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Print</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end incident -->

    <!-- person -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #person let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Add Person</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <!-- Filter Datatable Options Starts -->
                            <section id="filter" class="mb-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-8">
                                                <input type='text' style='padding:6px; width:100%;' placeholder='Free Text Search' (keyup)='updateFilter($event)' />
                                            </div>
                                            <div class="col-4">
                                                <button type="button" class="btn btn-outline-primary">Clear</button>
                                            </div>
                                        </div>
                                        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
                                    </div>
                                </div>
                            </section>
                            <!-- Filter Datatable Options Ends -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Send</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end person -->

    <!-- asset -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #asset let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Add Asset</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <!-- Filter Datatable Options Starts -->
                            <section id="filter" class="mb-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-8">
                                                <input type='text' style='padding:6px; width:100%;' placeholder='Free Text Search' (keyup)='updateFilter($event)' />
                                            </div>
                                            <div class="col-4">
                                                <button type="button" class="btn btn-outline-primary">Clear</button>
                                            </div>
                                        </div>
                                        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
                                    </div>
                                </div>
                            </section>
                            <!-- Filter Datatable Options Ends -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Add</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end asset -->

    <!-- request -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #request let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Add Request</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Send</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end request -->

    <!-- email -->
    <!-- <app-email-modal #emailModal *ngIf="showModalEmail" (closeEvt)="closeModal('email')"></app-email-modal> -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #email let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Add Email</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput5">Sent Mail To: </label>
                                <div class="container-fluid emailCheckBoxList">
                                    <div class="row-fluid">
                                        <div class="form-check">
                                            <label class="form-check-label ml-2">
                                                <input class="form-check-input" type="checkbox"
                                                    id="inlineCheckbox1" value="option1">16 Hout St - Kevin
                                                Black
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label ml-2">
                                                <input class="form-check-input" type="checkbox"
                                                    id="inlineCheckbox1" value="option1">16 Hout St - Kevin
                                                Black
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label ml-2">
                                                <input class="form-check-input" type="checkbox"
                                                    id="inlineCheckbox1" value="option1">16 Hout St - Kevin
                                                Black
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput5">Other Recipients:
                                </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control" name="company">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput5">Subject: </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control" name="company">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput9">Comments: </label>
                                <div class="col-md-9">
                                    <textarea id="projectinput9" rows="5" class="form-control" name="comment"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput5">Include Documents:
                                </label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label ml-2">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                            value="option1">
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Send</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end email -->

    <!-- notice -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #notice let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Add Notice</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Send</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end notice -->

    <!-- action -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #action let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Add Action</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput9">Action: </label>
                                <div class="col-md-9">
                                    <textarea id="projectinput9" rows="5" class="form-control" name="comment"></textarea>
                                </div>
                                </div>

                                <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput6">Assign To: </label>
                                <div class="col-md-9">
                                    <select id="projectinput6" name="interested" class="form-control">
                                    <option value="none" selected="" disabled=""></option>
                                    <option value="design">design</option>
                                    <option value="development">development</option>
                                    <option value="illustration">illustration</option>
                                    <option value="branding">branding</option>
                                    <option value="video">video</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-outline-primary">Send</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end action -->

    <!-- popi -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #popi let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Personal Information Usage Confirmation</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="form-group row float-left text-left">
                                    <label class="col-12 label-control" for="projectinput5"><b>You hereby confirm that: </b></label>
                                </div>
                            </div>

                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="ml-1 mr-0 pr-0 col-1 form-check form-check-inline text-right float-right" style="width: 30px; margin-left: 50px !important; max-width: 30px;">
                                        <label class="form-check-label ml-2">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        </label>
                                    </div>
                                    <label class="ml-0 pl-0 col-10 label-control text-left float-left" for="projectinput1">You have the permission of the subject to collect and store their personal information</label>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="ml-1 mr-0 pr-0 col-1 form-check form-check-inline text-right float-right" style="width: 30px; margin-left: 50px !important; max-width: 30px;">
                                        <label class="form-check-label ml-2">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        </label>
                                    </div>
                                    <label class="ml-0 pl-0 col-10 label-control text-left float-left" for="projectinput2">That the information will only be used for the specific, explicity defined and legitimate purpose it is intended</label>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group row">
                                    <div class="ml-1 mr-0 pr-0 col-1 form-check form-check-inline text-right float-right" style="width: 30px; margin-left: 50px !important; max-width: 30px;">
                                        <label class="form-check-label ml-2">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                        </label>
                                    </div>
                                    <label class="ml-0 pl-0 col-10 label-control text-left float-left" for="projectinput3">that the information will not be kept longer than is necessary for archiving purposes</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Cancel</button>
                        <button type="button" class="btn btn-outline-primary">Confirm</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end popi -->

    <!-- asset wizard -->
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ng-template #assetWizard let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Asset Wizard - Step {{c.activeId}} of 5</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section id="carousel">
                            <ngb-carousel #ngcarousel #c="ngbCarousel">
                                <ng-template ngbSlide id="1">
                                    <div class="row text-left" matchHeight="card">
                                        <div class="col-12">
                                            <h4 class="modal-title mb-3" id="myModalLabel1">Enter Asset Details</h4>
                                        </div>
                                        <div class="col-7">
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput1">First Name: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput1" class="form-control" name="firstname">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput1">Last Name: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput1" class="form-control" name="lastname">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput3">Id Number: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput3" class="form-control" name="idnumber">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput4">Date of Birth: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput4" class="form-control" name="dob">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput1">Gender: </label>
                                                        <div class="col-md-9">
                                                            <div class="custom-control custom-radio custom-control-inline float-left">
                                                                <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                                    class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                                                            </div>
                                                            <div class="custom-control custom-radio custom-control-inline  float-left">
                                                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                                    class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput2">Ethnicity: </label>
                                                        <div class="col-md-9">
                                                            <select id="projectinput2" name="interested" class="form-control">
                                                                <option value="none" selected="" disabled=""></option>
                                                                <option value="design">Asian</option>
                                                                <option value="development">Black</option>
                                                                <option value="illustration">Mixed</option>
                                                                <option value="branding">White</option>
                                                                <option value="video">Other ? WTF is other? lol</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9">Notes: </label>
                                                        <div class="col-md-9">
                                                            <textarea id="projectinput9" rows="5" class="form-control" name="notes"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="ml-4 col-4">
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <img src="assets/img/incident/asset-face.png" height="auto" width="320" class="mb-3 img-fluid">
                                                        <fieldset class="form-group">
                                                            <div class="custom-file  mx-auto d-block">
                                                                <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                                <label class="custom-file-label" for="inputGroupFile01">Upload</label>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide id="2">
                                    two
                                </ng-template>
                            </ngb-carousel>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-secondary mr-1" (click)="getToPrev()"><i class="ft ft-chevron-left"></i> Prev</button>
                        <button type="button" class="btn grey btn-secondary mr-3" (click)="goToNext()"><i class="ft ft-chevron-right"></i> Next</button>
                        <button type="button" class="btn grey btn-success mr-1"><i class="ft ft-check"></i> Save</button>
                        <button type="button" class="btn grey btn-danger mr-1"><i class="ft ft-x"></i> Cancel</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <!-- end asset wizard -->
</section>

<section id="horizontal-vertical">
    <div class="row">

        <div class="col-12">

            <div class="row match-height">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2">
                                    <h4 class="card-title">Incidents</h4>
                                </div>

                                <!-- incident stats -->
                                <app-incident-stats style="width:100%"></app-incident-stats>
                            </div>

                            <!-- card content -->
                            <div class="card-content">

                                <!-- card body -->
                                <div class="card-body">

                                    <button class="btn btn-sm btn-outline-primary" (click)="setSelectedTab(2)">TEST: Select second tab</button> <!-- [disabled]="active === 2" setSelectedTab() -->

                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" [destroyOnHide]="false" (navChange)="onTabChange($event)">
                                        <!-- TAB 1: Incident List -->
                                        <li [ngbNavItem]="1">
                                          <a ngbNavLink><i class="fa fa-grid"></i> Incident List</a>
                                          <ng-template ngbNavContent>
                                            <app-incident-main></app-incident-main>
                                          </ng-template>
                                        </li>

                                        <!-- TAB 2: Incident Detail -->
                                        <li [ngbNavItem]="2">
                                          <a ngbNavLink><i class="fa fa-id-card-o"></i> &nbsp;Incident Detail</a>
                                          <ng-template ngbNavContent>
                                                <app-incident-details></app-incident-details>
                                          </ng-template>
                                        </li>

                                        <!-- TAB 3: MAP -->
                                        <li [ngbNavItem]="3">
                                          <a ngbNavLink><i class="fa fa-map-marker"></i> Map</a>
                                          <ng-template ngbNavContent>
                                            <app-incident-map></app-incident-map>
                                          </ng-template>
                                        </li>

                                        <!-- TAB 4: FLOOR PLANS -->
                                        <li [ngbNavItem]="4">
                                            <a ngbNavLink><i class="fa fa-map-o"></i> Floor Plans</a>
                                            <ng-template ngbNavContent>
                                                <app-incident-floor-plan></app-incident-floor-plan>
                                            </ng-template>
                                        </li>

                                        <!-- TAB 4: CALENDAR -->
                                        <li [ngbNavItem]="5">
                                            <a ngbNavLink><i class="fa fa-calendar"></i> Calendar</a>
                                            <ng-template ngbNavContent>
                                                <app-incident-calendar></app-incident-calendar>
                                            </ng-template>
                                        </li>
                                      </ul>

                                      <!-- tab navigator output area -->
                                      <div [ngbNavOutlet]="nav" class="mt-2"></div>

                                </div>
                                <!-- end card body -->

                            </div>
                            <!-- end card content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
