.btn-primary, .btn-secondary, .btn-danger, .btn-warning, .btn-success, .grey {
  color: #fff !important;
}
  /* tabs */
  .tab-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .overview-content {
    padding: 0 !important;
  }
  .pagination {
    justify-content: flex-end !important;
  }
  .dataTables_length {
    margin-bottom: 20px;
  }
  select.form-control {
    min-width: 75px;
  }
  #basic-button-icons .card-body {
    padding: 15px;
  }
  .incident-action-buttons {
    text-align: right;
  }
  .toggle-filter-options .custom-checkbox .custom-control-label::before {
    margin-top: 5px;
  }

/* option buttons */
.option-buttons {
  position: relative;
  top: -75px;
  right: 0px;
}

/* nav-pills */
ul.justify-content-start.nav.nav-pills {
  margin-left: 1rem !important;
}

  /* map */
  agm-map {
    height: 300px;
}

  .status-legend i {
    font-size: 20px;
    vertical-align: text-bottom;
  }
  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }
  .input-group-append button {
    height: 36px;
  }
  .emailCheckboxList {
    position: relative;
    left: 25%;
    top: -45%;
  }


  /* modals */
  #modals .card {
    display: none !important;
  }

  .incident-overview-popup-data .col, .incident-additional-popup-data .col, .incident-status-popup-data .col, .incident-fixed-popup-data .col, .incident-human-popup-data .col, .incident-actions-popup-data .col, .incident-notifications-popup-data .col {
    padding-bottom: 10px;
  }

  /* report accordian */
  ::ng-deep .report-accordian .card {
    margin-bottom: 1rem !important;
  }
  ::ng-deep .report-accordian .card-header {
    margin: 0 !important;
    padding: 1.5rem 0 0 0 !important;
  }
  ::ng-deep .report-accordian [role=tabpanel] {
    padding: 0 !important;
  }
  ::ng-deep .report-accordian .card-body {
    padding: 0 0 0 1.5rem !important;
  }

  /* assets */
  .card-deck .card {
    max-width: 250px;
  }

  /*add spacing underneath card titles - eg section headers on Incident Detail*/
  .card .card-header{margin-bottom:20px !important}
