<div class="col-xl-12 col-lg-12">
    <ul class="nav flex-end ml-auto incident-stats float-right">
        <li class="nab-item mr-1"><b>Open</b></li>
        <li class="nab-item mr-3">2436</li>
        <li class="nab-item mr-1"><b>On Hold</b></li>
        <li class="nab-item mr-3">32</li>
        <li class="nab-item mr-1"><b>Total</b></li>
        <li class="nab-item mr-3">644</li>
    </ul>
</div>