<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-3">SELECT ASSETS (OPTIONAL)</h4>
        </div>

        <div class="form-group row col-6 mb-0">
            <label class="col-md-3 label-control" for="projectinput9">Assets:</label>
            <div class="col-md-9 row ml-0">
                <button type="button" class="btn white btn-secondary">Add Asset</button>
            </div>
        </div>

        <div class="form-group row col-12">
            <label class="label-control" for="projectinput9" style="margin-left:160px">&nbsp;</label>
            <div class="col-md-9 row ml-0">
                <!-- Decks section start -->
                <section id="decks" class="assets">
                    <div class="row text-left">
                        <div class="col-12">
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body bg-warning text-left p-3 white">
                                                <h3>CCTV Camera 1</h3>
                                                <span>Make: NEC<br />Model: MVP1000<br />Serial No: 100-22-3456</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body bg-warning text-left p-3 white">
                                                <h3>CCTV Camera 1</h3>
                                                <span>Make: NEC<br />Model: MVP1000<br />Serial No: 100-22-3456</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body bg-warning text-left p-3 white">
                                                <h3>CCTV Camera 1</h3>
                                                <span>Make: NEC<br />Model: MVP1000<br />Serial No: 100-22-3456</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body bg-warning text-left p-3 white">
                                                <h3>CCTV Camera 1</h3>
                                                <span>Make: NEC<br />Model: MVP1000<br />Serial No: 100-22-3456</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Decks section end -->
                
            </div>
        </div>
    </div>
</form>