<div class="row">
    <!-- stat -->
    <div class="col-12 float-right mr-0 pr-0">
        <ul class="nav flex-end ml-auto incident-stats float-right">
            <li class="nab-item mr-1"><b>People</b></li>
            <li class="nab-item mr-3">436</li>
            <li class="nab-item mr-1"><b>Fixed</b></li>
            <li class="nab-item mr-3">32</li>
            <li class="nab-item mr-1"><b>Total</b></li>
            <li class="nab-item mr-3">644</li>
        </ul>
    </div>
    <!-- end stat -->
</div>