.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.modal-box {
    position: fixed;
    top: 1vw;
    left: 20vw;
    width: 60vw;
    padding: 20px;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.modal-box-actions{
    text-align: right;
}