<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Add Email</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
    <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
    <!--<button type="button" class="close" aria-label="Close">-->
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form form-horizontal">
        <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput5">Sent Mail To: </label>
            <div class="container-fluid emailCheckBoxList">
                <div class="row-fluid">
                    <div class="form-check">
                        <label class="form-check-label ml-2">
                            <input class="form-check-input" type="checkbox"
                                id="inlineCheckbox1" value="option1">16 Hout St - Kevin
                            Black
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label ml-2">
                            <input class="form-check-input" type="checkbox"
                                id="inlineCheckbox1" value="option1">16 Hout St - Kevin
                            Black
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label ml-2">
                            <input class="form-check-input" type="checkbox"
                                id="inlineCheckbox1" value="option1">16 Hout St - Kevin
                            Black
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput5">Other Recipients:
            </label>
            <div class="col-md-9">
                <input type="text" id="projectinput5" class="form-control" name="company">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput5">Subject: </label>
            <div class="col-md-9">
                <input type="text" id="projectinput5" class="form-control" name="company">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput9">Comments: </label>
            <div class="col-md-9">
                <textarea id="projectinput9" rows="5" class="form-control" name="comment"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 label-control" for="projectinput5">Include Documents:
            </label>
            <div class="form-check form-check-inline">
                <label class="form-check-label ml-2">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                        value="option1">
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close-->
    <!--<button type="button" class="btn btn-secondary btn-raised" (click)="activeModal.close('Close click')">-->
    <button type="button" class="btn btn-secondary btn-raised" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-outline-primary">Send</button>
</div>