<form #categoryTabForm="ngForm" class="editForm" novalidate>
    <div>
      <div class="tab-pane active">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>
        <br />

         <!-- WIZARD STEP CONTENTS-->
        <div class='row'>
          <div class='col-offset-4 col-10 col-sm-offset-5 col-sm-4'>
            <div class="form-group">
                <!--
                    EXAMPLE: BIND BOOLEAN CHECKBOX TO NGMODEL..........
                    <ngx-datatable-column name="Active">
                        <ng-template ngx-datatable-cell-template let-value="value">
                        <mat-checkbox [(ngModel)]="value"></mat-checkbox>
                        </ng-template>
                    </ngx-datatable-column>

                -->

                <label class="form-control-label" for="email">Category: </label>

                <!-- TO DO - investigate how to bind tree to ngModel-->
                <ngx-datatable
                    #catTree
                    [columnMode]="ColumnMode.flex"
                    [messages]="messages"
                    [headerHeight]="5"
                    [footerHeight]="0"
                    [rowHeight]="30"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="categoryRows"
                    [selected]="selectedCategory"
                    [selectionType]="SelectionType.single"
                    (select)="onSelect($event)"
                    [treeFromRelation]="'parentId'"
                    [treeToRelation]="'id'"
                    (treeAction)="onTreeAction($event)">

                    <ngx-datatable-column name="Categories" prop="name" [isTreeColumn]="true" [treeLevelIndent]="20" class="idTreeColumn">
                        <ng-template ngx-datatable-tree-toggle let-tree="cellContext">
                            <button [disabled]="tree.treeStatus === 'disabled'" (click)="tree.onTreeAction()"></button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
          </div>
        </div>

        <!-- WIZARD NAVIGATION BUTTONS -->
        <div class="form-group text-center space-20">
            <button uiSref="sites" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="location" type="button" class="btn btn-raised btn-primary btn-wizard" [disabled]="buttonDisabled" (click)="saveData(categoryTabForm)">
                Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
            </button>
        </div>
      </div>
    </div>
  </form>
