<div class="form-group option-buttons">
    <span class="incident-actions float-right mr-0">
        <!-- Buttons with Icon -->
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Add new asset"><i class="fa fa-star"></i> New</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Delete highlighted asset"><i class="fa fa-user"></i> Delete</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Generate QR Code for highlighted asset"><i class="fa fa-check"></i> QR Code</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="View POPI audit trail for checked asset"><i class="fa fa-info"></i> POPI Info</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="View/Print checked asset(s)"><i class="fa fa-info"></i> View</button>
    </span>
</div>