input[type=text], textarea {
    margin-left: 1rem !important;
}

.btn-primary, .btn-secondary, .btn-danger, .btn-warning, .btn-success {
    color: #fff !important;
}

img.mb-1.img-fluid {
    max-height: 150px !important;
    max-width: 100px !important;
    margin: 0 !important;
    padding: 0 !important;
}

h3.card-title {
    font-size: 0.5rem;
}
.card-body {
    padding: 1.5rem 0 1.5rem 0;
}

.assets .card {
    min-width:230px !important;
    max-width:230px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.assets .card-body h3 {
    font-size: 1.25rem !important;
}
.assets .card-body span {
    font-size: 0.75rem !important;
}

agm-map {
    height: 300px;
}

::ng-deep .carousel-indicators {
  display: none !important;
}

/* SITE TREE ------------------------------*/
:host ::ng-deep .ngx-datatable{
    border: 1px solid #dddddd;
    width: 400px; /*set width of table*/
}

/*tree selected row bg colour */
:host ::ng-deep .datatable-body-row.active{
    background-color: #cfd0e6 !important;
    /*round border for selected color*/
    border-radius: 0 40px 40px 0;
}

/*hide column label by setting color to white, as table does not generate without header*/
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-label{color: #ffffff;}

/*.icon {height: 10px; width: 10px; }
.disabled {opacity: 0.5; }*/

/*style open/close button*/
:host ::ng-deep .ngx-datatable .datatable-body-cell .datatable-tree-button{
    border: none;
    background-color:transparent;
    font-size: 18px;
    outline:0;
}

/*add padding to tree label*/
:host ::ng-deep .datatable-body-cell-label span{padding: 5px 30px 5px 5px}

/*change icon to right arrow*/
:host ::ng-deep .datatable-icon-up:before {
   content: '\70';
   /*other symbols: https://www.toptal.com/designers/htmlarrows/symbols/ */
}

/*end of site tree----------------------*/

::ng-deep .carousel-control-prev {
  display: none;
}
::ng-deep .carousel-control-next {
  display: none;
}
