<!--Carousel Starts-->
<section id="carousel">
    <div class="row text-left" matchHeight="card">

        <!--Global configuration of carousels Starts-->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Incident Wizard - Step {{c.activeId}} of 9</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <ngb-carousel #ngcarousel #c="ngbCarousel" is-disabled="true" (click)="pauseCarousel()">

                            <!-- select site -->
                            <input type="text" [formControl]="EmployeeName">
                            <p>Value: {{EmployeeName.value}}</p>

                            <ng-template ngbSlide id="1">
                                <!-- <app-select-site></app-select-site>-->

                            </ng-template>
                            <!-- end select site -->

                            <!-- STEP 2: select category -->
                            <ng-template ngbSlide id="2">
                                <app-select-category></app-select-category>
                            </ng-template>
                            <!-- end select category -->

                            <!-- STEP 3: select location -->
                            <ng-template ngbSlide id="3">
                                ...show map...
                            </ng-template>
                            <!-- end select location -->

                            <!-- incident details -->
                            <ng-template ngbSlide id="4">
                                <app-enter-incident></app-enter-incident>
                            </ng-template>
                            <!-- end incident details -->

                            <!-- people details -->
                            <ng-template ngbSlide id="5">
                                <app-people-documents></app-people-documents>
                            </ng-template>
                            <!-- end people details -->

                            <!-- additional details -->
                            <ng-template ngbSlide id="6">
                                <app-additional-info></app-additional-info>
                            </ng-template>
                            <!-- end additional details -->

                            <!-- actions -->
                            <ng-template ngbSlide id="7">
                                <app-enter-actions></app-enter-actions>
                            </ng-template>
                            <!-- end actions -->

                            <!-- notifications -->
                            <ng-template ngbSlide id="8">
                                <app-notifications></app-notifications>
                            </ng-template>
                            <!-- end notifications -->

                            <!-- assets -->
                            <ng-template ngbSlide id="9">
                                <app-select-assets></app-select-assets>
                            </ng-template>
                            <!-- end assets -->

                          </ngb-carousel>
                          <hr />
                          <div style="padding-left: 185px !important;">
                            <button type="button" class="btn grey btn-secondary mr-1" (click)="getToPrev()"><i class="ft ft-chevron-left"></i> Prev</button>
                            <button type="button" class="btn grey btn-secondary mr-3" (click)="goToNext()"><i class="ft ft-chevron-right"></i> Next</button>
                            <button type="button" class="btn btn-raised btn-primary mr-1" (click)="goToNext()"><i class="fa fa-check-square-o"></i> Save</button>
                            <button type="button" class="btn grey btn-secondary mr-1" (click)="goToNext()"><i class="ft ft-x"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Carousel Ends-->
