
    <div class="tab-pane active ml-3">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>

        <div class='row'>
            <div class='col-6'>

                <!-- Asset form -->
                <form #assetForm="ngForm" class="editForm mb-5" novalidate>
                    <div class="form-group mb-5">

                        <div class="d-inline-block col-4 align-top">
                            <label class="form-control-label" for="selectedAsset">Asset</label>
                            <select class="form-control" id="selectedAsset" name="selectedAsset" required #selectedAsset ngModel>
                                <option *ngFor="let asset of allAssetsForSiteCat" value="{{asset.assetId}}">
                                   {{asset.name}}  <span *ngIf="asset.serialNumber!=''">| Serial No: {{asset.serialNumber}} </span>
                                </option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!selectedAsset.valid && (selectedAsset.dirty || selectedAsset.touched)">Please select an asset!</small>
                        </div>

                        <button uiSref="result" type="button" class="btn btn-raised btn-primary ml-1 btn-wizard d-inline mt-4" [disabled]="!assetForm.valid" (click)="addAsset(assetForm)">
                            Add Asset
                        </button>
                    </div>
                </form>

                <!-- Selected Assets -->
                <div *ngIf="allAssets.length > 0" class="mb-5">
                    <p class="font-medium-2 text-bold-500">All Assets</p>
                    <div class="card gradient-ibiza-sunset my-2 col-3" *ngFor="let asset of allAssets">
                        <div class="card-content">
                          <div class="px-3 py-3">
                            <div class="media">
                                <div class="media-body white text-left">
                                    <h3>{{asset.name}}</h3>
                                    <small>Serial No: {{asset.serialNumber}}</small>
                                    <span>{{asset.description}}</span>
                                </div>

                                <div class="media-right align-self-center">
                                    <i class="icon-layers white font-large-2"></i>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <!-- WIZARD NAVIGATION BUTTONS -->
        <div class="form-group text-center space-20 mt-5">
            <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="fa fa-times"></i></span> Cancel
            </button>
            <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="previousStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="result" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" (click)="saveData()">
                <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> Save
            </button>
        </div>
    </div>
