<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-5">ENTER ACTIONS (OPTIONAL)</h4>
        </div>
        
        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Action: </label>
            <div class="row">
                <textarea id="projectinput9" rows="5" class="form-control" name="comment"></textarea>
            </div>
        </div>
        
        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Assign To: </label>
            <div class="col-md-9 row">
                <div class="col-md-9">
                    <select id="inputState" class="form-control">
                        <option selected>All</option>
                        <option *ngFor="let item of resources" value="item.id"> {{ item.firstName }} {{ item.lastName }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">&nbsp;</label>
            <div class="col-md-9 row ml-0">
                <button type="button" class="btn grey btn-secondary">Add Action</button>
            </div>
        </div>

        <div class="form-group row col-9">
            <div class="col-12" style="padding-left: 0;">
                <!--Basic Table Starts-->
                <section id="simple-table" style="width: 100%">
                    <div class="row text-left">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date/Time</th>
                                                    <th>Action</th>
                                                    <th>Assigned To</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>18 March 2020 11:12</td>
                                                    <td>Please remove this vehicle</td>
                                                    <td>Nick</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>18 March 2020 11:12</td>
                                                    <td>Please remove this vehicle</td>
                                                    <td>Nick</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>18 March 2020 11:12</td>
                                                    <td>Please remove this vehicle</td>
                                                    <td>Nick</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Basic Table Ends-->
            </div>
        </div>


    </div>
</form>