<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">

            <div class="card-body login-img">
              <form #frmLogin="ngForm" (ngSubmit)="onSubmit(frmLogin)" > <!-- [formGroup]="loginForm" -->

                <div class="row m-0">
                  <div class="col-lg-6 d-lg-block d-none py-0 text-center align-middle pt-0 pb-0 pl-0 pr-0">
                    <img src="../../assets/img/gallery/shs-login2.jpg" alt="" class="img-fluid" width="400" height="230">
                    <p class="version-number">v3.03</p>
                  </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3 mt-4">
                    <h4 class="mb-2 card-title">Login</h4>
                    <p class="card-text mb-3">
                      Welcome back, please login to your account.
                    </p>

                    <!-- Error message -->
                    <div class="alert alert-danger" *ngIf="message">{{ message }}</div>

                    <!--<input type="text" class="form-control mb-3" placeholder="Username" />-->
                    <!-- <input type="password" class="form-control mb-1" placeholder="Password" />-->

                    <div class="form-group">
                      <input type="text" name="username" id="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" required ngModel>
                      <div *ngIf="submitted && f.username.errors && !loading" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                      </div>
                    </div>


                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required ngModel>
                      <div *ngIf="submitted && f.password.errors && !loading" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                      <div class="remember-me">
                        <div class="custom-control custom-checkbox custom-control-inline mb-3">
                          <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input" />
                          <label class="custom-control-label" for="customCheckboxInline1">
                            Remember Me
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- login button -->
                    <div class="fg-actions d-flex justify-content-between">
                      <div class="recover-pass">
                        <button [disabled]="loading" class="btn btn-primary login-btn">
                          <!-- shows spinner icon on button whilst loading -->
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Login
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
