
    <div class="tab-pane active ml-3">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>

        <div class='row'>
            <div class='col-6'>

                <!-- Action form -->
                <form #actionForm="ngForm" class="editForm mb-5" novalidate>
                    <div class="form-group mb-5">

                        <div class="d-inline-block col-4 align-top pl-0">
                            <label for="placeTextarea">Action</label>
                            <textarea class="form-control" id="actionDesc" name="actionDesc" required #actionDesc ngModel rows="2"></textarea>
                            <small class="form-text text-muted danger" *ngIf="!actionDesc.valid && (actionDesc.dirty || actionDesc.touched)">Please provide details of the action!</small>
                        </div>

                        <div class="d-inline-block col-3 align-top">
                            <label class="form-control-label" for="actionAssignTo">Assign To</label>
                            <select class="form-control" id="actionAssignTo" name="actionAssignTo" required #actionAssignTo ngModel>
                                <option *ngFor="let resource of luRgResources" value="{{resource.id}}">
                                    {{resource.resourceGroupName}} - {{resource.firstName}} {{resource.lastName}}
                                </option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!actionAssignTo.valid && (actionAssignTo.dirty || actionAssignTo.touched)">Please select the resource to assign this action to!</small>
                        </div>

                        <button uiSref="result" type="button" class="btn btn-raised btn-primary ml-1 btn-wizard d-inline mt-4" [disabled]="!actionForm.valid" (click)="addAction(actionForm)"> <!-- [disabled]="!actionsTabForm.valid" -->
                            Add Action
                        </button>
                    </div>
                </form>

                <!-- New Actions list -->
                <div *ngIf="newActions.length > 0" class="mb-5">
                    <p class="font-medium-2 text-bold-500">All Actions</p>
                    <div class="card gradient-ibiza-sunset my-2" *ngFor="let action of newActions">
                        <div class="card-content">
                          <div class="px-3 py-3">
                            <div class="media">
                              <div class="media-body white text-left">
                                <h3>{{action.dateTimeStamp | date:'medium'}}  |  {{action.resourceId | resourceName}}</h3>
                                <span>{{action.description}}</span>
                              </div>
                              <div class="media-right align-self-center">
                                <i class="icon-action-redo white font-large-2 float-right"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <!-- WIZARD NAVIGATION BUTTONS -->
        <div class="form-group text-center space-20 mt-5">
            <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="fa fa-times"></i></span> Cancel
            </button>
            <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="previousStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="notifications" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" (click)="saveData()">
                Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
            </button>
            <button uiSref="result" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" (click)="saveData(true)">
                <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> Save
            </button>
        </div>
    </div>
