<div class="row">
    <div class="col-12">
        <form>
            <div class="form-row col-12">
                <div class="form-group col-2">
                    <label for="inputState">From</label>
                    <div class="form-group">
                        <div class="input-group mb-0 pb-0">
                            <!--<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">-->
                            <div class="input-group-append">
                                <div class="input-group-text" (click)="d2.toggle()">
                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label for="inputState">To</label>
                    <div class="form-group">
                        <div class="input-group mb-0 pb-0">
                           <!--<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d3="ngbDatepicker">-->
                            <div class="input-group-append">
                                <div class="input-group-text" (click)="d3.toggle()">
                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6" style="padding-top: 30px !important;">
                    <button type="submit" class="btn btn-primary white mr-3">Load</button>
                    <button type="submit" class="btn btn-primary white mr-1">Export to Excel</button>
                    <button type="submit" class="btn btn-primary white">Print</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row col-9">
    <div>
        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
    </div>
</div>