<div class="card">
    <div class="card-header">
        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Face Search:</label>
            <div class="col-md-9 row ml-0">
                <fieldset class="form-group">
                    <div class="custom-file  mx-auto d-block">
                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Upload</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>