<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-5">ENTER INCIDENT DETAILS</h4>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="inputRootCauses">Route Cause: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <div class="col-md-9 ml-0 pl-0">
                    <select id="inputRootCauses" class="form-control">
                        <option selected>All</option>
                        <option *ngFor="let item of rootCauses" value="item.id"> {{ item.description }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="inputImpact">Impact: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <div class="col-md-9 ml-0 pl-0">
                    <select id="inputImpact" class="form-control">
                        <option selected>All</option>
                        <option *ngFor="let item of impacts" value="item.id"> {{ item.description }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="inputStatuses">Status: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <div class="col-md-9 ml-0 pl-0">
                    <select id="inputStatuses" class="form-control">
                        <option selected>All</option>
                        <option *ngFor="let item of statuses" value="item.id"> {{ item.description }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="inputResources">Reported By: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <div class="col-md-9 ml-0 pl-0">
                    <select id="inputResources" class="form-control">
                        <option selected>All</option>
                        <option *ngFor="let item of resources" value="item.id"> {{ item.firstName }} {{ item.lastName }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Details: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <textarea id="projectinput9" rows="5" class="form-control" name="comment"></textarea>
            </div>
        </div>
    </div>
</form>