<div class="col-12 row toggle-filter-options mr-0 ml-0 pl-0 pr-0">
  <!-- toggle filter options -->
  <div class="col-8 ml-0 pl-0">
    <ul class="nav">
      <li class="nav-item mr-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Reported by me</label>
        </div>
      </li>
      <li class="nav-item mr-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Assigned to me</label>
        </div>
      </li>
      <li class="nav-item mr-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Include closed</label>
        </div>
      </li>
      <li class="nav-item mr-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Include cancelled</label>
        </div>
      </li>
    </ul>
  </div>
  <!-- end toggle filter options -->

  <!-- filter button -->
  <div class="col-4 mr-0 pl-0 text-right">
    <p>
      <button class="btn btn-outline-secondary mr-1" type="button" data-toggle="collapse" data-target=""
        aria-expanded="false" aria-controls="">
        <i class="fa fa-user"></i> Face Search
      </button>
      <!--<button (click)="toggle()" id="bt" class="btn btn-outline-secondary" type="button">
            <i class="fa fa-plus"></i> Filter
        </button>-->
    </p>
  </div>
  <!-- end filter button -->

  <!-- filter options -->
  <!--<ng-container *ngIf="show">-->
  <ng-container>
    <div class="w-100">
      <div class="card card-body border">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputState">Report</label>
              <select id="inputState" class="form-control">
                <option selected>All</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputState">Site</label>
              <select id="inputState" class="form-control">
                <option selected>All</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputState">Categories</label>
              <select id="inputState" class="form-control">
                <option selected>All</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputState">Impact</label>
              <select id="inputState" class="form-control">
                <option selected>All</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label class="col-md-3 label-control" for="selCategories">Status: </label>
              <!--<div class="col-md-9">
                            <select id="selCategories" name="selCategories" class="form-control" (change)="selectCategory($event.target.value)">
                                <option value="none" selected="" disabled=""></option>
                                <option *ngFor="let description of categories" value={{description}}>
                                    {{description}}
                                </option>
                            </select>
                        </div>-->
            </div>
            <div class="form-group col-md-3">
              <label for="inputState">Logged by/Assigned to</label>
              <select id="inputState" class="form-control">
                <option selected>All</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputState">Incidents without GPS</label>
              <select id="inputState" class="form-control">
                <option selected>All</option>
                <option>...</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Clear</button>
        </form>
      </div>
    </div>
  </ng-container>
  <!-- end filter options -->

</div>