<div class="tab-pane active ml-3">
    <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>

    <div class='row'>
        <div class='col-6'>

            <!-- Notification form -->
            <form #notificationForm="ngForm" class="editForm mb-5" novalidate>
                <div class="form-group mb-5 row">

                    <div class="d-inline-block col-3">
                        <label class="form-control-label" for="notifyResource">Notify</label>

                        <select class="form-control" id="notifyResource" name="notifyResource" required #notifyResource ngModel (change)="selectResource(notifyResource.value)">
                            <option *ngFor="let resource of luRgResources" value="{{resource.id}}">
                                {{resource.resourceGroupName}} - {{resource.firstName}} {{resource.lastName}}
                            </option>
                        </select>
                        <small class="form-text text-muted danger" *ngIf="!notifyResource.valid && (notifyResource.dirty || notifyResource.touched)">Please select a resource to notify!</small>

                        (TO DO: get resources for selected site & cat)
                    </div>

                    <div class="d-inline-block col-3">
                        <label class="form-control-label" for="notifyResource">Notify Of</label>
                        <select class="form-control" id="notifyOf" name="notifyOf" required #notifyOf ngModel>
                            <option *ngFor="let item of notifyOfList" value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                        <small class="form-text text-muted danger" *ngIf="!notifyOf.valid && (notifyOf.dirty || notifyOf.touched)">Please select what to notify this resource of!</small>
                    </div>

                    <div class="d-inline-block col-2">
                        <div class="form-check form-check-inline mt-4">
                            <input class="form-check-input" type="checkbox" id="notifySms" name="notifySms" value="1" #notifySms ngModel [disabled]="disableSms">
                            <label class="form-check-label" for="inlineCheckbox1">sms</label>
                        </div>
                        <div class="form-check form-check-inline mt-4">
                            <input class="form-check-input" type="checkbox" id="notifyEmail" name="notifyEmail" value="1" #notifyEmail ngModel [disabled]="disableEmail">
                            <label class="form-check-label" for="inlineCheckbox2">email</label>
                        </div>
                    </div>

                    <button uiSref="result" type="button" class="btn btn-raised btn-primary ml-1 btn-wizard d-inline mt-4" [disabled]="!notificationForm.valid || (!notifySms.checked && !notifyEmail.checked)" (click)="addNotification(notificationForm)"> <!-- [disabled]="!actionsTabForm.valid" -->
                        Add Notification
                    </button>
                </div>
            </form>

            <!-- New Manual Notifications list -->
            <div *ngIf="newNotifications.length > 0" class="mb-5">
                <p class="font-medium-2 text-bold-500">Manual Notifications</p>
                <div class="card gradient-ibiza-sunset my-2" *ngFor="let notification of newNotifications">
                    <div class="card-content">
                        <div class="px-3 py-3">
                            <div class="media">
                                <div class="media-body white text-left">
                                    <h3>{{notification.timeStamp | date:'medium'}}  |  {{notification.resourceId | resourceName}}</h3>
                                    <span>Notify Of: {{notification.description}} </span>
                                </div>
                                <div class="media-right align-self-center">
                                    <!--<i class="icon-paper-plane white font-large-2 float-right"></i>-->
                                    <i class="icon-envelope white font-large-2 float-right" *ngIf="notification.email===1"></i>
                                    <i class="icon-screen-smartphone white font-large-2 float-right" *ngIf="notification.sms===1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Auto Notification list -->
            <div *ngIf="impactAutoNotifications.length > 0" class="mb-5">
                <p class="font-medium-2 text-bold-500">Impact Auto Notifications</p>
                <small class="form-text text-muted">Based on your selected impact, the following resources will automatically be notified.</small>
                <div class="card gradient-green-tea my-2" *ngFor="let notification of impactAutoNotifications">
                    <div class="card-content">
                        <div class="px-3 py-3">
                            <div class="media">
                                <div class="media-body white text-left">
                                    <h3>{{notification.name}}</h3>
                                    <span *ngIf="notification.method==0 || notification.method==2">{{notification.email}}</span> <span *ngIf="notification.method==2"> | </span> <span *ngIf="notification.method==1 || notification.method==2">{{notification.cellNumber}}</span>
                                </div>
                                <div class="media-right align-self-center">
                                    <i class="icon-envelope white font-large-2 float-right" *ngIf="notification.method==0 || notification.method==2"></i>
                                    <i class="icon-screen-smartphone white font-large-2 float-right" *ngIf="notification.method==1 || notification.method==2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- WIZARD NAVIGATION BUTTONS -->
    <div class="form-group text-center space-20 mt-5">
        <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="cancelStep()">
            <span style="margin-right:10px;"><i class="fa fa-times"></i></span> Cancel
        </button>
        <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="previousStep()">
            <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
        </button>
        <button uiSref="notifications" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" (click)="saveData()">
            Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
        </button>
        <button uiSref="result" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" (click)="saveData(true)">
            <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> Save
        </button>
    </div>
</div>
