<div class="card">
    <div class="card-content">
        <div class="card-body">
            <ng-template #modalContent let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">Add Asset</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal">
                        <!-- Filter Datatable Options Starts -->
                        <section id="filter" class="mb-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-8">
                                            <input type='text' style='padding:6px; width:100%;' placeholder='Free Text Search' (keyup)='updateFilter($event)' />
                                        </div>
                                        <div class="col-4">
                                            <button type="button" class="btn btn-outline-primary">Clear</button>
                                        </div>
                                    </div>
                                    <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
                                </div>
                            </div>
                        </section>
                        <!-- Filter Datatable Options Ends -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                    <button type="button" class="btn btn-outline-primary">Add</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>