 view
 <div class="row incident-tabs">
    <ngb-tabset type="pills" style="margin-top: 35px; width: 100%; margin-left: 1rem">
        <ngb-tab>
            <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> Report Criteria</ng-template>
            <ng-template ngbTabContent>
                <!-- filter options -->
                <ng-container>
                    <div class="w-100">
                        <div class="card card-body border">
                            <div class="row">
                                <div class="col-3">
                                    <form>
                                        <div class="form-row">
                                            <h4 class="card-title">Report &amp; Date Range</h4>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-10">
                                                <label for="inputState">From</label>
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <div class="input-group mb-0 pb-0">
                                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                            <div class="input-group-append">
                                                                <div class="input-group-text" (click)="d2.toggle()">
                                                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-10">
                                                <label for="inputState">To</label>
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <div class="input-group mb-0 pb-0">
                                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d3="ngbDatepicker">
                                                            <div class="input-group-append">
                                                                <div class="input-group-text" (click)="d3.toggle()">
                                                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-10">
                                                <label for="inputState">Report</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>All</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form>
                                        <div class="form-row">
                                            <h4 class="card-title">Format &amp; View</h4>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-10">
                                                <label for="inputState">Format</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>All</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-10">
                                                <label for="inputState">view</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>All</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-10">
                                                <label class="col-md-3 label-control" for="selCategories">Status: </label>
                                                <div class="col-md-9">
                                                    <select id="selCategories" name="selCategories" class="form-control" (change)="selectCategory($event.target.value)">
                                                        <option value="none" selected="" disabled=""></option>
                                                        <option *ngFor="let description of categories" value={{description}}>
                                                            {{description}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <label for="selCompareBy">Compare By</label>
                                                <select id="selCompareBy" name="selCompareBy" class="form-control">
                                                    <option selected>All</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row col-2">
                                <button type="submit" class="btn btn-primary white">Generate Report</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- end filter options -->
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> View Report</ng-template>
            <ng-template ngbTabContent>
                <form class="mt-3">
                    <div class="form-row col-12 ml-0 pl-0">
                        <div class="col-2">
                            <label class="abel-control" for="projectinput6">Filter</label>
                            <div class="row ml-0 mr-3">
                                <input type='text' style='padding:6px; margin-top:-1px;' placeholder='Free Text Search' (keyup)='updateFilter($event)' />
                            </div>
                        </div>
                        <div class="col-8">
                            <label for="inputState">Tools</label>
                            <div class="row ml-0">
                                <button type="submit" class="btn btn-primary white mr-1">Save</button>
                                <button type="submit" class="btn btn-primary white mr-1">Map</button>
                                <button type="submit" class="btn btn-primary white mr-1">Floor Plan</button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- filter datatable -->
                <section id="reportFilter" class="mb-3">
                    <div class="row col-12">
                        <div>
                            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
                        </div>
                    </div>
                </section>
                <!-- end filter datatable -->
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>