<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-5">SELECT SITE</h4>


<!--
<ngx-datatable #historyTable
            class="bootstrap selection-cell"
            [selectionType]="'cell'"
            [rows]="historyRows"
            [columns]="historyColumns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            >
        </ngx-datatable>
-->




        </div>

        <!-- MJA ONLY DEFAULT SITE CENTRIC INCIDENT CREATION IMPLEMENTED NOW -->
        <!--<div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Create For: </label>
            <div class="col-md-9 row ml-0">
                <div _ngcontent-ifh-c166="" class="col-5 custom-control custom-radio custom-control-inline float-left">
                    <input _ngcontent-ifh-c166="" type="radio" id="createForSite" name="createFor" class="custom-control-input" checked>
                    <label _ngcontent-ifh-c166="" class="custom-control-label">Site (default)</label>
                </div>
                <div _ngcontent-ifh-c166="" class="col-5 custom-control custom-radio custom-control-inline float-left">
                    <input _ngcontent-ifh-c166="" type="radio" id="createForAsset" name="createFor" class="custom-control-input">
                    <label _ngcontent-ifh-c166="" class="custom-control-label">Asset</label>
                </div>
            </div>
        </div>-->

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="incidentDateTime">Date/Time: </label>
            <div class="row col-md-9">
                <div class="col-4 mr-1">
                    <!-- MJA TO DO - default to today's date-->
                    <!-- [(ngModel)]="incidentDate"-->
                    <input type="date" id="incidentDate" name="incidentDate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Incident Date" class="form-control">
                </div>
                <div class="col-4">
                    <div _ngcontent-ifh-c166="" class="position-relative has-icon-left">
                        <input _ngcontent-ifh-c166="" type="time" id="incidentTime" name="incidentTime" class="form-control">
                        <div _ngcontent-ifh-c166="" class="form-control-position"><i _ngcontent-ifh-c166="" class="ft-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput6">Site:</label>
            <div class="col-9 row ml-0">

                <ul> <li *ngFor="let site of sites">{{site.name}}</li></ul>

               <!-- CLIENT TREE
                   <ngx-datatable
                    class="material"
                    [columnMode]="ColumnMode.flex"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [treeFromRelation]="'parentId'"
                    [treeToRelation]="'id'"
                    [rows]="rows"
                    (treeAction)="onTreeAction($event)"
                >
                    <ngx-datatable-column name="Name" [flexGrow]="3" [isTreeColumn]="true">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->

               <!--  <ngx-datatable
                        class="bootstrap"
                        style="top: 52px"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="0"
                        [rowHeight]="50"
                        [scrollbarV]="true"
                        [scrollbarH]="true"
                        [rows]="rows_test"
                        [treeFromRelation]="'parentId'"
                        [treeToRelation]="'id'"
                        (treeAction)="onTreeAction($event)">
                        <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column>
                        <ngx-datatable-column name="Name" [isTreeColumn]="true" [width]="300" [treeLevelIndent]="20">
                        <ng-template ngx-datatable-tree-toggle let-tree="cellContext">
                            <button [disabled]="tree.treeStatus === 'disabled'" (click)="tree.onTreeAction()">
                            <span *ngIf="tree.treeStatus === 'loading'">
                                ...
                            </span>
                            <span *ngIf="tree.treeStatus === 'collapsed'">
                                ↑
                            </span>
                            <span *ngIf="tree.treeStatus === 'expanded'">
                                ↓
                            </span>
                            <span *ngIf="tree.treeStatus === 'disabled'">
                                ⃠
                            </span>
                            </button>
                        </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>-->





               <!-- SERVER TREE -->
               <!--  <ngx-datatable
                    class="material"
                    style="top: 52px"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [footerHeight]="0"
                    [rowHeight]="50"
                    [scrollbarV]="true"
                    [scrollbarH]="true"
                    [rows]="rows"
                    [treeFromRelation]="'parentId'"
                    [treeToRelation]="'id'"
                    (treeAction)="onTreeAction($event)"
                >
                <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column name="Name" [isTreeColumn]="true" width="300" [treeLevelIndent]="20">
                <ng-template ngx-datatable-tree-toggle let-tree="cellContext">
                    <button [disabled]="tree.treeStatus === 'disabled'" (click)="tree.onTreeAction()">
                    <span *ngIf="tree.treeStatus === 'loading'">
                        ...
                    </span>
                    <span *ngIf="tree.treeStatus === 'collapsed'">
                        ↑
                    </span>
                    <span *ngIf="tree.treeStatus === 'expanded'">
                        ↓
                    </span>
                    <span *ngIf="tree.treeStatus === 'disabled'">
                        ⃠
                    </span>
                    </button>
                </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>-->




                <!--<app-dt-filter _nghost-ifh-c376="" class="ng-star-inserted">
                    <section _ngcontent-ifh-c376="" id="filter" class="mb-3">
                        <div _ngcontent-ifh-c376="" class="row">
                            <div _ngcontent-ifh-c376="" class="col-12">
                                <div class="row mb-3">
                                    <input _ngcontent-ifh-c376="" type="text" placeholder="Filter"class="form-control col-4 mr-2">
                                    <button type="button" class="btn grey btn-secondary mr-1"><i class="ft ft-x"></i> Clear</button>
                                    <button type="button" class="btn grey btn-secondary"><i class="ft ft-skyatlas"></i> Open</button>
                                </div>

                                <ul class="list-group" style="margin-bottom: 50px !important; width:100% !important">
                                    <li class="list-group-item">
                                        <span class="badge badge-primary mr-2">&nbsp;</span> 16 Hout Street
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary mr-2">&nbsp;</span> 16 Hout Street
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary mr-2">&nbsp;</span> 24 Raventseyn Road
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-warning mr-2">&nbsp;</span> 1 Main Road
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary mr-2">&nbsp;</span> 8 Lower High street
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </app-dt-filter>-->
            </div>
        </div>
    </div>
</form>
