<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-5">ENTER NOTIFICATIONS</h4>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput6">Filter:</label>
            <div class="col-9 row ml-0">
                <div class="row col-12 mb-3">
                    <input _ngcontent-ifh-c376="" type="text" placeholder="Filter" class="form-control col-6 mr-2">
                    <button type="button" class="col-3 btn white btn-secondary mr-1">Filter</button>
                    <!--<button type="button" class="col-2 btn grey btn-secondary"><i class="ft ft-skyatlas"></i> Open</button>-->
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Notify: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <div class="col-md-9">
                    <!--Basic google map starts-->
                    <section id="map" style="margin-top:0px !important; padding-top:0px !important">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card" style="margin-top:0px !important; padding-top:0px !important">
                                    <div class="card-content" style="margin-top:0px !important; padding-top:0px !important">
                                        <div class="card-body mt-2" style="margin-top:0px !important; padding-top:0px !important">
                                            <!--<agm-map [latitude]="lat" [longitude]="lng" style="height: 500px; width: 800px">
                                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                            </agm-map>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Basic google map ends-->
                </div>
            </div>
        </div>
    </div>
</form>