<div class="row">
    <!-- stat -->
    <div class="col-12 float-right mr-0 pr-0">
        <ul class="nav flex-end ml-auto incident-stats float-right">
            <li class="nab-item mr-1"><b>Total Incidents Loaded</b></li>
            <li class="nab-item mr-3">48/48</li>
        </ul>
    </div>
    <!-- end stat -->
</div>

<ngb-tabset type="pills" style="margin-top: 35px; width: 100%; margin-left: 1rem">
    <ngb-tab>
        <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> Build Report</ng-template>
        <ng-template ngbTabContent>
            <div class="row mb-3">
                <span class="float-left ml-0">
                    <!-- Buttons with Icon -->
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Add new asset"><i class="fa fa-star"></i> New</button>
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Generate QR Code for highlighted asset"><i class="fa fa-check"></i> Edit</button>
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Delete highlighted asset"><i class="fa fa-user"></i> Delete</button>
                </span>
            </div>
            <div class="row">
                <input type='text' style='padding:8px;margin:15px;width:283px;' placeholder='Filter Reports' (keyup)='updateReportList($event)' />
            </div>
            <div class="row">
                <div class="col-3">
                    <ul class="list-group" style="margin-bottom: 50px !important; width:100% !important">
                        <li class="list-group-item">
                            <span class="badge badge-primary mr-2">&nbsp;</span> 16 Hout Street
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-primary mr-2">&nbsp;</span> 16 Hout Street
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-primary mr-2">&nbsp;</span> 24 Raventseyn Road
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning mr-2">&nbsp;</span> 1 Main Road
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-primary mr-2">&nbsp;</span> 8 Lower High street
                        </li>
                    </ul>
                </div>
                <div class="col-9">
                    <h4 class="card-title mb-3">REPORT: CIDC and City of Cape Town</h4>
                    <table>
                        <tr>
                            <td>Created By:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date Created:</td>
                            <td>2015-06-17 13:15:15</td>
                        </tr>
                        <tr>
                            <td>Private:</td>
                            <td>Yes</td>
                        </tr>
                    </table>
                    <h4 class="card-title mb-3 mt-3">INCIDENT TYPE: Incidents & Scheduled Service Requests</h4>
                    <div class="row text-left">
                        <div class="col-md-12 col-lg-6">
                          <ngb-accordion class="report-accordian" #acc="ngbAccordion" activeIds="ra1, ra2, ra7, ra8, ra9">
                            <ngb-panel title="SITES" id="ra1">
                              <ng-template ngbPanelContent>
                                <p></p>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel title="CATEGORIES" id="ra2">
                                <ng-template ngbPanelContent>
                                  <p></p>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel title="INCIDENT REPORTED BY/SCHED TASK ASSIGNED TO" id="ra7">
                                <ng-template ngbPanelContent>
                                  <p>All</p>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel title="ASSETS" id="ra8">
                                <ng-template ngbPanelContent>
                                  <p>All</p>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel title="RESOURCES WITH LOGGED WORK" id="ra8">
                                <ng-template ngbPanelContent>
                                  <p>All</p>
                                </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </div>
                        <div class="col-md-12 col-lg-6">
                          <ngb-accordion class="report-accordian" activeIds="ra3, ra4, ra5, ra6">
                            <ngb-panel title="INCIDENT STATUS" id="ra3">
                                <ng-template ngbPanelContent>
                                  <p>Assigned</p>
                                  <p>Closed</p>
                                  <p>On Hold</p>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel title="ROOT CAUSE" id="ra4">
                                  <ng-template ngbPanelContent>
                                    <p>All</p>
                                  </ng-template>
                              </ngb-panel>
                              <ngb-panel title="IMPACTS" id="ra5">
                                <ng-template ngbPanelContent>
                                  <p>All</p>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel title="RESOURCES WITH ASSIGNED ACTIONS" id="ra6">
                                <ng-template ngbPanelContent>
                                  <p>All</p>
                                </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </div>
                      </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> Preview Data</ng-template>
        <ng-template ngbTabContent>
            <div class="form-group option-buttons">
                <span class="incident-actions float-right mr-0">
                    <!-- Buttons with Icon -->
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Export data to Excel"><i class="fa fa-star"></i> Export to Excel</button>
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Print data"><i class="fa fa-user"></i> Print</button>
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Viw selected data"><i class="fa fa-check"></i> View Selected</button>
                    <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="View all data"><i class="fa fa-info"></i> View All</button>
                </span>
            </div>

            <form>
                <div class="form-row col-12 mr-0 pr-0">
                    <div class="form-group col-2">
                        <label for="inputState">From</label>
                        <div class="form-group">
                            <div class="input-group mb-0 pb-0">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                <div class="input-group-append">
                                    <div class="input-group-text" (click)="d2.toggle()">
                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-2">
                        <label for="inputState">To</label>
                        <div class="form-group">
                            <div class="input-group mb-0 pb-0">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d3="ngbDatepicker">
                                <div class="input-group-append">
                                    <div class="input-group-text" (click)="d3.toggle()">
                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 30px !important;">
                        <button type="submit" class="btn btn-primary white mr-3">Load</button>
                    </div>
                    <div class="form-group col-2">
                        <label for="inputState">Select Report</label>
                        <div class="form-group">
                            <div class="">
                                <select id="projectinput6" name="interested" class="form-control">
                                    <option value="Select Report" selected=""></option>
                                    <option value="design">design</option>
                                    <option value="development">development</option>
                                    <option value="illustration">illustration</option>
                                    <option value="branding">branding</option>
                                    <option value="video">video</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="abel-control" for="projectinput6">Search</label>
                        <div class="row ml-0">
                            <input type='text' style='padding:6px; margin-top:-1px;' placeholder='Free Text Search' (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                </div>
            </form>

            <!-- filter datatable -->
            <section id="filter" class="mb-3">
                <div class="row col-12">
                    <div>
                        <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>
                    </div>
                </div>
            </section>
            <!-- end filter datatable -->

        </ng-template>
    </ngb-tab>
</ngb-tabset>