<p>popi-modal works!</p>

<div class="card">
    <div class="card-content">
        <div class="card-body">
            <ng-template #testpopi let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">Test POPI</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal">
                        <app-add-email-modal></app-add-email-modal>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close click')">Close</button>
                    <button type="button" class="btn btn-outline-primary">Send</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>