<p>statuses works!</p>
<label class="col-md-3 label-control" for="projectinput7">status: </label>
<div class="col-md-9">
    <select id="projectinput7" name="budget" class="form-control">
        <option value="0" selected="" disabled=""></option>
        <option value="less than 5000$">less than 5000$</option>
        <option value="5000$ - 10000$">5000$ - 10000$</option>
        <option value="10000$ - 20000$">10000$ - 20000$</option>
        <option value="more than 20000$">more than 20000$</option>
    </select>
</div>