<div class="row card col-12" *ngIf="incident!=null">
    <h4 class="card-title mb-3" id="">INCIDENT: {{incident.incidentId}}</h4>
    <li *ngFor="let inc of incident">
        {{inc.description}}
    </li>

    <div class="card-content">
        <ngb-tabset [destroyOnHide]="false">
            <!-- incidents -->
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Overview</ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <div class="row col-12">
                        <!-- overview form -->
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-tooltip"><i class="ft-file-text"></i> OVERVIEW</h4>
                                </div>
                                <div class="card-content">
                                    <div class="px-3">
                                        <form class="form form-horizontal">
                                            <div class="form-body">
                                                <!-- <h4 class="form-section"><i class="ft-file-text"></i> OVERVIEW</h4> -->
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Incident Id: </label>
                                                    <p class="ml-3">{{incident.incidentId}}</p>
                                                </div>

                                                <div class="form-group row" *ngIf="incident.incidentType==2">
                                                    <label class="col-md-3 label-control" for="projectinput5">Occurance Id: </label>
                                                    <p class="ml-3">{{incident.scheduleInstanceId}}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Details: </label>
                                                    <p class="ml-3">{{incident.description}}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Date/Time: </label>
                                                    <p class="ml-3">{{ incident.incidentDateTime | date:'medium' }}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Type: </label>
                                                    <p class="ml-3">{{ incident.incidentType == 1 ? 'Incident' : 'Scheduled Service Request' }}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Site: </label>
                                                    <p class="ml-3">{{ incident.siteName }}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Category: </label>
                                                    <p class="ml-3">{{ incident.categoryName }}</p>
                                                    <a _ngcontent-buj-c7="" class="btn ml-2 mr-1 btn-raised btn-light" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                                                    <!--<button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Bulk edit/select indicators"><i class="fa fa-pencil"></i> Bulk Edit</button>-->
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Impact: </label>
                                                    <p class="ml-3">{{ incident.impact }}</p>
                                                </div>

                                                <!-- Reported By: shown for default incidents -->
                                                <div class="form-group row" *ngIf="incident.incidentType==1">
                                                    <label class="col-md-3 label-control" for="projectinput5">Reported By: </label>
                                                    <p class="ml-3">{{incident.reportedResourceId | resourceName}}</p>
                                                </div>

                                                <!-- Assigned To: shown for sched task incidents -->
                                                <div class="form-group row" *ngIf="incident.incidentType==2">
                                                    <label class="col-md-3 label-control" for="projectinput5">Assigned To: </label>
                                                    <p class="ml-3">{{incident.reportedResourceId | resourceName}}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Logged by: </label>
                                                    <p class="ml-3">{{incident.loggedResourceId | resourceName}}</p>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="summary">Summary: </label>
                                                    <div class="col-md-9">
                                                        <textarea id="summary" rows="5" class="form-control" name="comment"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row" *ngIf="incident.incidentType==1">
                                                    <label class="col-md-3 label-control" for="selRootCause">Root Cause: </label>
                                                    <div class="col-md-9">
                                                        <select id="selRootCause" name="selRootCause" class="form-control" (change)="selectRootCause($event.target.value)">
                                                            <option value="none" selected="" disabled="">[Select Root Cause]</option>
                                                            <option *ngFor="let rootCause of luRootCauses" value="{{rootCause.id}}" [selected]="rootCause.id === incident.rootCauseId">
                                                                {{rootCause.description}}
                                                              </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control red" for="selStatus">Status: </label>
                                                    <div class="col-md-9">
                                                        <select id="selStatus" name="selStatus" class="form-control red" (change)="selectStatus($event.target.value)">
                                                            <option value="none" selected="" disabled="">[Select Status]</option>
                                                            <option *ngFor="let status of luStatuses" value={{status.id}} [selected]="status.id === incident.statusId">
                                                                {{status.description}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row" *ngIf="incident.incidentType==2">
                                                    <label class="col-md-3 label-control" for="updateSingle">Update: </label>
                                                    <div class="ml-3 custom-control custom-radio custom-control-inline float-left">
                                                        <input type="radio" id="updateSingle" name="radUpdate" class="custom-control-input" checked>
                                                        <label class="custom-control-label rad-label" for="updateSingle">only this occurance</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline float-left">
                                                        <input type="radio" id="updateAll" name="radUpdate" class="custom-control-input">
                                                        <label class="custom-control-label rad-label" for="updateAll">all occurances in the scheduled series</label>
                                                    </div>
                                                </div>

                                                <div class="form-actions right">
                                                    <button type="button" class="btn btn-raised btn-secondary mr-1">
                                                        <i class="ft-x"></i> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-raised btn-primary">
                                                        <i class="fa fa-check-square-o"></i> Save
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end overview form -->

                        <!-- CUSTOM FIELDS form -->
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-tooltip"><i class="ft-info"></i> INFO</h4>
                                </div>
                                <div class="card-content">
                                    <div class="px-3">

                                        <form class="form form-horizontal">
                                            <div class="form-body">
                                                <!-- <h4 class="form-section"><i class="ft-info"></i> INFO</h4> -->
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Public Comms Contact: </label>
                                                    <label class="col-md-9">{{incident.communicationId}}</label>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">No. Green / Wheel Bins: </label>
                                                    <div class="col-md-9 input-group">
                                                        <input type="text" id="projectinput5" class="form-control" name="company">
                                                        <span class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button">
                                                                <i class="fa fa-question"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Receiving Closed: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="projectinput5" class="form-control" name="company">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">EMEI: </label>
                                                    <div class="col-md-9 input-group">
                                                        <input type="text" id="projectinput5" class="form-control" name="company">
                                                        <span class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button">
                                                                <i class="fa fa-question"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Program: </label>
                                                    <div class="col-md-9 input-group">
                                                        <input type="text" id="projectinput5" class="form-control" name="company">
                                                        <span class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button">
                                                                <i class="fa fa-question"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">Test Ver 2.98.15: </label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="projectinput5" class="form-control" name="company">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="projectinput5">AMW Test CBX: </label>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label ml-2">
                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="file">Documents:</label>
                                                    <div class="col-md-9">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="customField281">{{customField281.label}}</label>
                                                    <div class="col-md-9">
                                                        <select id="customField281" name="customField281" class="form-control" (change)="selectCategory($event.target.value)">
                                                            <option value="none" selected="" disabled=""></option>
                                                            <option *ngFor="let listValues of customField281.listValues" value={{listValues}}>
                                                                {{listValues}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="customField281">{{customField282.label}}</label>
                                                    <div class="col-md-9">
                                                        <select id="customField281" name="customField281" class="form-control" (change)="selectCategory($event.target.value)">
                                                            <option value="none" selected="" disabled=""></option>
                                                            <option *ngFor="let listValues of customField282.listValues" value={{listValues}}>
                                                                {{listValues}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-actions right">
                                                <button type="button" class="btn btn-raised btn-secondary mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                                <button type="button" class="btn btn-raised btn-primary">
                                                    <i class="fa fa-check-square-o"></i> Save
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end info form -->
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Actions <span class="badge badge-light">{{ incident.incidentActionsCount }}</span></ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <div class="row col-6 mb-3 mt-3">
                        <div>
                            <button type="button" class="btn white btn-secondary" (click)="openModal(action, 'lg')">Add Action</button>
                        </div>
                    </div>
                    <ngx-datatable #actionsTable
                        class="bootstrap selection-cell"
                        [selected]="actionsSelected"
                        [selectionType]="'cell'"
                        (select)="onActionsTableSelect($event)"
                        (activate)="onActionsTableActivate($event)"
                        [rows]="actionsRows"
                        [loadingIndicator]="loadingIndicator"
                        [messages]="{emptyMessage:'No actions loaded.'}"
                        [columns]="actionsColumns"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="getRowHeight"
                        [reorderable]="reorderable">
                    </ngx-datatable>

                    <div class="row col-9 mb-1 mt-5">
                        <p>Action Summary</p>
                    </div>

                    <div class="row col-9">
                        <textarea id="" rows="5" class="form-control" name="actionsummary">{{ incident.actionSummary }}</textarea>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Notify <span class="badge badge-light">{{ incident.incidentNotifyCount }}</span></ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <div class="row col-6 mb-3 mt-3">
                        <div>
                            <button type="button" class="btn white btn-secondary" (click)="openModal(notice, 'lg')">Add Notification</button>
                        </div>
                    </div>
                    <ngx-datatable #notifyTable
                        class="bootstrap selection-cell"
                        [selected]="notifySelected"
                        [selectionType]="'cell'"
                        (select)="onNotifyTableSelect($event)"
                        (activate)="onNotifyTableActivate($event)"
                        [rows]="notifyRows"
                        [loadingIndicator]="loadingIndicator"
                        [messages]="{emptyMessage:'No notifications loaded.'}"
                        [columns]="notifyColumns"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="getRowHeight"
                        [reorderable]="reorderable">
                    </ngx-datatable>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Assets <span class="badge badge-light">{{ incident.incidentAssetsCount }}</span></ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <div class="row col-6 mb-3 mt-3">
                        <div>
                            <button type="button" class="btn white btn-secondary mr-1" (click)="openModal(asset, 'lg')">Add Asset</button>
                            <button type="button" class="btn white btn-secondary mr-1">Asset Incidents</button>
                            <button type="button" class="btn white btn-secondary">View</button>
                        </div>
                    </div>

                    <!-- replace with common component -->
                    <section id="decks" class="assets">
                        <div class="row text-left">
                            <div class="col-12">
                                <div class="card-deck-wrapper">
                                    <div class="card-deck">
                                        <div class="card" *ngFor="let item of incidentAssets">
                                            <div *ngIf="item.assetTypeId == 1" class="card-content">
                                                <div class="incident-asset card-body bg-warning text-left white">
                                                    <h3>{{ item.name }}</h3>
                                                    <span>Make: {{ item.make }}<br />Model: {{ item.assetModel }}<br />Serial No: {{ item.serialNumber }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <app-assets></app-assets>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> People <span class="badge badge-light">{{ incident.incidentPeopleCount }}</span></ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">

                    <!-- popup asset information modal -->
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">

                          <ng-template #editProfileModal let-modal #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="modal-title">Asset Information</h4>
                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!-- asset data-->
                              <div class="row col-12">
                                <!-- overview form -->
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title" id="basic-layout-tooltip">OVERVIEW</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="px-3">
                                               <form [formGroup]="editProfileForm" class="form form-horizontal">
                                                    <div class="form-body">
                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="projectinput5">Name: </label>
                                                            <p class="ml-3">{{ incidentAsset.name }}</p>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control no-border bg-white" for="projectinput5">Id Number: </label>
                                                            <p class="ml-3">{{ incidentAsset.idNumber }}</p>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="projectinput5">Date of Birth: </label>
                                                            <p class="ml-3">{{ incidentAsset.dateOfBirth }}</p>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="projectinput5">Gender: </label>
                                                            <p class="ml-3">{{ incidentAsset.gender}}</p>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="projectinput5">Ethnicity: </label>
                                                            <p class="ml-3">{{ incidentAsset.ethnicity }}</p>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control no-border bg-white" for="projectinput5">Residential Address: </label>
                                                            <p class="ml-3">{{ incidentAsset.residentialAddress }}</p>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control no-border bg-white" for="projectinput5">Postal Address: </label>
                                                            <p class="ml-3">{{ incidentAsset.postalAddressCity }}</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end overview form -->

                                <!-- info form -->
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title" id="basic-layout-tooltip">&nbsp;</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="px-3">
                                                <form class="form form-horizontal">
                                                    <div class="form-body">
                                                        <div class="form-group row">
                                                          <img src="assets/img/portrait/small/avatar-s-3.png" style="width:50%; margin-left:15px" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info form -->
                            </div>

                            <div class="row col-12">
                              <!-- overview form -->
                              <div class="col-md-6">
                                  <div class="card">
                                      <div class="card-header">
                                          <h4 class="card-title" id="basic-layout-tooltip">ADDITIONAL INFORMATION</h4>
                                      </div>
                                      <div class="card-content">
                                          <div class="px-3">
                                              <form class="form form-horizontal">
                                                  <div class="form-body">
                                                      <div class="form-group row">
                                                          <label class="col-md-3 label-control" for="projectinput5">???: </label>
                                                          <p class="ml-3"></p>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- end overview form -->

                              <!-- info form -->
                              <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title" id="basic-layout-tooltip">NOTES</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="px-3">
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput5">???: </label>
                                                        <p class="ml-3"></p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <!-- end info form -->
                          </div>
                              <!-- end asset data -->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-raised">Print</button>
                              <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <!-- end modal popup -->

                    <!--<div class="container">
                      <div class="row justify-content-center">
                       <div class="col-md-12 py-4">
                        <button type="button" (click)="openModalTest(editProfileModal, userList[0])">Test</button>
                        <table class="table table-striped">
                         <thead>
                          <tr>
                           <th scope="col">#</th>
                           <th scope="col">First Name</th>
                           <th scope="col">Last Name</th>
                           <th scope="col">Username</th>
                           <th scope="col">Email</th>
                           <th scope="col">Action</th>
                          </tr>
                         </thead>
                         <tbody>
                          <tr *ngFor="let user of userList">
                           <th scope="row">{{ user.id }}</th>
                           <td>{{ user.firstname }}</td>
                           <td>{{ user.lastname }}</td>
                           <td>{{ user.username }}</td>
                           <td>{{ user.email }}</td>
                           <td>
                            <button type="button" class="btn white btn-primary" (click)="openModal(editProfileModal, user)">Edit</button>
                           </td>
                          </tr>
                         </tbody>
                        </table>
                       </div>
                      </div>
                    </div>-->

                    <div class="row col-6 mb-3 mt-3 ml-0 pl-0">
                        <div>
                            <button type="button" class="btn white btn-secondary mr-1" (click)="openModal(person, 'lg')">Add Person</button>
                            <button type="button" class="btn white btn-secondary mr-1">Asset Incidents</button>
                            <button type="button" class="btn white btn-secondary">View</button>
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-12 row">
                            <div *ngFor="let item of incidentAssets" [attr.task-id]="item.Id">
                              <div *ngIf="item.assetTypeId == 2" class="card-content">
                                <div class="incident-people card">
                                    <div class="card-body pt-3 text-left">
                                        <div class="clearfix">
                                        <h5 class="text-bold-500 primary float-left">{{ item.name }}</h5>
                                        <div class="actions float-right">
                                            <!--<i class="ft-edit cursor-pointer mr-1 info"  (click)="editTask(item.Id);"></i>-->
                                            <i class="ft-edit cursor-pointer mr-1 info" (click)="openModalTest(editProfileModal, item.assetId)"></i>
                                            <i class="ft-trash-2 cursor-pointer orange" (click)="deleteTask(item.Id);"></i>
                                        </div>
                                        </div>
                                        <p>{{ item.dateOfBirth }}</p>
                                        <img src="/assets/img/portrait/small/avatar-s-3.png" class="rounded-circle width-50 mr-2">
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <!-- replace with common component -->
                    <!--<section id="decks">
                        <div class="row text-left">
                            <div class="col-12">
                                <div class="card-deck-wrapper">
                                    <div class="card-deck">
                                        <div class="card" *ngFor="let item of incidentAssets">
                                            <div class="card-content">
                                                <div class="incident-people card-body bg-warning text-left white">
                                                    <img src="assets/img/people/people.jpg" height="150" width="100" class="mb-1 img-fluid">
                                                    <h3 class="card-title white mt-2">{{ item.name }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>-->
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Work <span class="badge badge-light">{{ incident.incidentWorkCount }}</span></ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <div class="row col-6 mb-3 mt-3">
                        <div>
                            <button type="button" class="btn white btn-secondary" (click)="openModal(request, 'lg')">Add Service Request</button>
                        </div>
                    </div>
                    <ngx-datatable #workTable
                        class="bootstrap selection-cell"
                        [selected]="workSelected"
                        [selectionType]="'cell'"
                        (select)="onWorkTableSelect($event)"
                        (activate)="onWorkTableActivate($event)"
                        [rows]="workRows"
                        [loadingIndicator]="loadingIndicator"
                        [messages]="{emptyMessage:'No service requests loaded.'}"
                        [columns]="workColumns"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="getRowHeight"
                        [reorderable]="reorderable">
                    </ngx-datatable>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Docs <span class="badge badge-light">{{ incident.incidentDocumentsCount }}</span></ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <!-- this is a common / shared component with people/dosc in add wizard -->
                            <div class="form-group row col-6 mb-0 mt-3">
                                <label class="col-md-3 label-control" for="projectinput9">Documents:</label>
                                <div class="col-md-9 row ml-0">
                                    <fieldset class="form-group">
                                        <div class="custom-file  mx-auto d-block">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-group row col-6">
                                <label class="col-md-3 label-control" for="projectinput9">&nbsp;</label>
                                <div class="col-md-9 row ml-0 pl-0">
                                    <ul *ngFor="let item of incidentDocuments" class="list-group" style="margin-left: 1.3rem !important; width:100% !important">
                                        <li class="list-group-item">{{ item }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> History</ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <ngx-datatable #historyTable
                        class="bootstrap selection-cell"
                        [selected]="historySelected"
                        [selectionType]="'cell'"
                        (select)="onHistoryTableSelect($event)"
                        (activate)="onHistoryTableActivate($event)"
                        [rows]="historyRows"
                        [loadingIndicator]="loadingIndicator"
                        [columns]="historyColumns"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="getRowHeight"
                        [reorderable]="reorderable">
                    </ngx-datatable>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Map</ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    <div class="row col-6 mb-3 mt-3">
                        <div class="col-8">
                            <input type="text" id="" class="form-control" name="">
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn white btn-secondary">Save as JPG</button>
                        </div>
                    </div>

                    <div class="row col-12" *ngIf(incidentGPS.longitude != 'null')>
                        <!--Basic google map starts-->
                        <section id="map" style="margin-top:0px !important; padding-top:0px !important">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card" style="margin-top:0px !important; padding-top:0px !important">
                                        <div class="card-content" style="margin-top:0px !important; padding-top:0px !important">
                                            <div class="card-body mt-2" style="margin-top:0px !important; padding-top:0px !important">
                                                <agm-map [latitude]="incidentGPS.latitude" [longitude]="incidentGPS.longitude" style="height: 500px; width: 800px">
                                                    <agm-marker [latitude]="incidentGPS.latitude" [longitude]="incidentGPS.longitude"></agm-marker>
                                                </agm-map>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--Basic google map ends-->
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-grid"></i> Floor Plan</ng-template>
                <ng-template ngbTabContent style="padding-left: 0px; padding-right: 0px">
                    floor plan

                    <ngx-datatable
                        class="bootstrap"
                        style="top: 52px"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="0"
                        [rowHeight]="50"
                        [scrollbarV]="true"
                        [scrollbarH]="true"
                        [rows]="rows_test"
                        [treeFromRelation]="'parentId'"
                        [treeToRelation]="'id'"
                        (treeAction)="onTreeAction($event)">
                        <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column>
                        <ngx-datatable-column name="Name" [isTreeColumn]="true" [width]="300" [treeLevelIndent]="20">
                        <ng-template ngx-datatable-tree-toggle let-tree="cellContext">
                            <button [disabled]="tree.treeStatus === 'disabled'" (click)="tree.onTreeAction()">
                            <span *ngIf="tree.treeStatus === 'loading'">
                                ...
                            </span>
                            <span *ngIf="tree.treeStatus === 'collapsed'">
                                ↑
                            </span>
                            <span *ngIf="tree.treeStatus === 'expanded'">
                                ↓
                            </span>
                            <span *ngIf="tree.treeStatus === 'disabled'">
                                ⃠
                            </span>
                            </button>
                        </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Gender"></ngx-datatable-column>
                        <ngx-datatable-column name="Age"></ngx-datatable-column>
                        <ngx-datatable-column name="City" [width]="300" prop="address.city"></ngx-datatable-column>
                        <ngx-datatable-column name="State" [width]="300" prop="address.state"></ngx-datatable-column>
                    </ngx-datatable>

                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
