.secondary {
    color: #ffffff !important;
}

.card {
  box-shadow: none;
}

.incident-people.card {
    width: 250px;
    height: 140px;
    border: solid 1px orange;
    margin-right: 20px;
}

::ng-deep .datatable-tree-button {
    background-color: inherit !important;
    border: solid 1px !important;
    margin-right: 10px !important;
}

::ng-deep .datatable-icon-down {
    vertical-align: sub !important;
}