<form #detailsTabForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active ml-3 mt-2">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>
        <br/>

        <!-- WIZARD STEP CONTENTS-->
        <div class='row'>
            <div class='col-3'>
                <div class="form-group">
                    <label class="form-control-label" for="rootCause">Root Cause</label>
                    <!-- <input class="form-control input-md" #email="ngModel" required email id="email" name="email" type="text"  [(ngModel)]="personal.email">
                    <small class="form-text text-muted danger" *ngIf="!email.valid && (email.dirty || email.touched)">Please enter a valid email!</small>-->

                    <!-- TO DO - get rootcauses for selected category ......... -->
                    <select class="form-control" id="rootCause" name="rootCause" #rootCause='ngModel' [(ngModel)]="detailsTabData.rootCauseId">
                        <option selected>Please Select</option>
                        <option *ngFor="let rootCause of luRootCauses" value="{{rootCause.id}}" [selected]="rootCause.id === detailsTabData.rootCauseId">{{rootCause.description}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="impact">Impact (TO DO: wizard.mxml > setIncidentStatusImpact)</label>

                    <select class="form-control" id="impact" name="impact" required #impact='ngModel' [(ngModel)]="detailsTabData.impactId">
                        <option selected>Please Select</option>
                        <option *ngFor="let impact of luImpacts" value="{{impact.id}}">{{impact.description}}</option>
                    </select>
                    <small class="form-text text-muted danger" *ngIf="!impact.valid && (impact.dirty || impact.touched)">Please select an impact.</small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="reportedBy">Reported By</label>

                    <select class="form-control" id="reportedBy" name="reportedBy" required #reportedBy='ngModel' [(ngModel)]="detailsTabData.reportedResourceId">
                        <option *ngFor="let resource of luRgResources" value="{{resource.id}}" [selected]="resource.id === detailsTabData.reportedResourceId">
                            {{resource.resourceGroupName}} - {{resource.firstName}} {{resource.lastName}}
                        </option>
                    </select>
                    <small class="form-text text-muted danger" *ngIf="!reportedBy.valid && (reportedBy.dirty || reportedBy.touched)">Please select the resource that reported the incident.</small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="status">Status</label>

                    <select class="form-control" id="status" required name="status" #status='ngModel' [(ngModel)]="detailsTabData.statusId">
                        <option *ngFor="let status of luStatuses" value={{status.id}} [selected]="status.id === detailsTabData.statusId">
                            {{status.description}}
                        </option>
                    </select>
                    <small class="form-text text-muted danger" *ngIf="!status.valid && (status.dirty || status.touched)">Please select a status!</small>
                </div>

                <div class="form-group">
                    <label for="placeTextarea">Details</label>
                    <textarea class="form-control" id="description" name="description" required #description='ngModel' [(ngModel)]="detailsTabData.description" rows="3" placeholder="Please provide details of the incident."></textarea>
                    <small class="form-text text-muted danger" *ngIf="!description.valid && (description.dirty || description.touched)">Please provide details of the incident!</small>
                </div>

                <div class="form-group col-6 pl-0">
                    <label for="file">Documents (...TO DO....)</label>
                    <div class="custom-file  mx-auto d-block">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="selectFile($event)">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>

                    <fieldset class="form-group">
                        <label for="basicInputFile">Simple File Input</label>
                        <input type="file" class="form-control-file" id="basicInputFile" >
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- WIZARD NAVIGATION BUTTONS -->
        <div class="form-group text-center space-20">
            <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="fa fa-times"></i></span> Cancel
            </button>
            <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="previousStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="people" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" [disabled]="!detailsTabForm.valid" (click)="saveData(detailsTabForm)">
                Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
            </button>
            <button uiSref="result" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" [disabled]="!detailsTabForm.valid" (click)="saveData(detailsTabForm, true)">
                <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> Save
            </button>
        </div>
    </div>
</form>
