<form #locationTabForm="ngForm" class="editForm" novalidate>
    <div>
      <div class="tab-pane active">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>
        <br />

        <div class='row'>
          <div class='col-offset-4 col-10 col-sm-offset-5 col-sm-4'>
            <div class="form-group">

                <label class="form-control-label" for="email">Location: </label>

                <p>......... TO DO - Google Map ....................</p>
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>

            </div>
          </div>
        </div>

        <div class="form-group text-center space-20">
            <button uiSref="categories" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="details" type="button" class="btn btn-raised btn-primary" [disabled]="buttonDisabled" (click)="saveData(locationTabForm)">
                Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
            </button>
        </div>
      </div>
    </div>
  </form>
