<section class="mt-2" id="map" style="margin-top:0px !important; padding-top:0px !important">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top:0px !important; padding-top:0px !important">
                <div class="card-content" style="margin-top:0px !important; padding-top:0px !important">
                    <div class="card-body mt-2" style="margin-top:0px !important; padding-top:0px !important">
                        <agm-map [latitude]="lat" [longitude]="lng" style="height: 500px;">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>