/* TREE COMPONENT ------------------------------*/
:host ::ng-deep .ngx-datatable{
    border: 1px solid #dddddd;
    width: 400px; /*set width of table*/
    height: 80vh; /* set height of table */
    max-height: 600px;
}

/*tree selected row bg colour */
:host ::ng-deep .datatable-body-row.active{
    background-color: #cfd0e6 !important;
    /*round border for selected color*/
    border-radius: 0 40px 40px 0;
}

/*hide column label by setting color to white, as table does not generate without header*/
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-label{color: #ffffff;}

/*.icon {height: 10px; width: 10px; }
.disabled {opacity: 0.5; }*/

/*style open/close button*/
:host ::ng-deep .ngx-datatable .datatable-body-cell .datatable-tree-button{
    border: none;
    background-color:transparent;
    font-size: 18px;
    outline:0;
}

/*add padding to tree label*/
:host ::ng-deep .datatable-body-cell-label span{padding: 5px 30px 5px 5px}

/*change icon to right arrow*/
:host ::ng-deep .datatable-icon-up:before {
   content: '\70';
   /*other symbols: https://www.toptal.com/designers/htmlarrows/symbols/ */
}

/*end of site tree----------------------*/

.btn-wizard{min-width: 120px !important}
