<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header">Add Incident</div>
    </div>
</div>
<section id="ngx">
    <div class="card text-left">
        <div class="card-content">
            <div class="card-body">
                <div class="board">
                    <!-- Navigation Area (Circular Tabs) -->
                    <app-add-incident-navbar></app-add-incident-navbar>
                    <!-- <app-test></app-test> -->

                    <!-- Content Area -->
                    <div class="tab-content">
                        <!-- Nested view  -->
                        <router-outlet> </router-outlet>
                    </div>
                    <!-- End Content Area -->
                </div>
                <!-- For Debugging: show our valid formData -->
            </div>
        </div>
    </div>
</section>
