<form #siteTabForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active ml-3">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>
        <br/>
        <div class='row'>
            <div class='col-6'>
                <div class="form-group">

                    <label class="form-control-label" for="datetime">Date/Time:</label>

                    <div class="row">
                        <div class="col-3 mr-1">
                            <input type="date" id="incidentDate" name="incidentDate" #incidentDate="ngModel" [(ngModel)]="siteTabData.incidentDate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Incident Date" class="form-control">
                            <small class="form-text text-muted danger" *ngIf="!incidentDate.valid && (incidentDate.dirty || incidentDate.touched)">Please select a date!</small>
                        </div>
                        <div class="col-3">
                            <div class="position-relative has-icon-left">
                                <input type="time" id="incidentTime" name="incidentTime" #incidentTime="ngModel" [(ngModel)]="siteTabData.incidentTime" class="form-control">
                                <div class="form-control-position"><i class="ft-clock"></i></div>
                                <small class="form-text text-muted danger" *ngIf="!incidentTime.valid && (incidentTime.dirty || incidentTime.touched)">Please enter a time!</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="email">Site: </label>

                        <!-- TO DO - investigate how to bind tree to ngModel -->
                        <ngx-datatable
                            class="idTree"
                            [columnMode]="ColumnMode.flex"
                            [messages]="messages"
                            [headerHeight]="5"
                            [footerHeight]="0"
                            [rowHeight]="30"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [rows]="siteRows"
                            [selected]="selectedSite"
                            [selectionType]="SelectionType.single"
                            (select)="onSelect($event)"
                            [treeFromRelation]="'parentId'"
                            [treeToRelation]="'id'"
                            (treeAction)="onTreeAction($event)">

                            <!-- <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column> -->
                            <ngx-datatable-column name="Sites" prop="name" [isTreeColumn]="true" [treeLevelIndent]="20" class="idTreeColumn">
                                <ng-template ngx-datatable-tree-toggle let-tree="cellContext">
                                    <button [disabled]="tree.treeStatus === 'disabled'" (click)="tree.onTreeAction()"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                </div>
            </div>
        </div>

        <div class="form-group text-center space-20"><!-- [disabled]="!siteTabForm.valid"-->
            <button type="button" uiSref="categories" class="btn btn-primary btn-raised btn-wizard" [disabled]="buttonDisabled" (click)="saveData(siteTabForm)"> Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span></button>


            <!--
            <button type="button" class="btn btn-raised btn-secondary mr-1">
                <i class="ft-x"></i> Cancel
            </button>
            <button type="button" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
            </button> -->


        </div>
    </div>
</form>
