<form #additionalInfoTabForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane active ml-3">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>
        <br/>
        <div class='row'>
            <div class='col-6'>
                <div class="form-group">

                    <p> ... TO DO ...</p>
                </div>
            </div>
        </div>

        <!-- WIZARD NAVIGATION BUTTONS -->
        <div class="form-group text-center space-20">
            <button uiSref="sites" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="fa fa-times"></i></span> Cancel
            </button>
            <button uiSref="people" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="previousStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="actions" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" [disabled]="!additionalInfoTabForm.valid" (click)="saveData(additionalInfoTabForm)">
                Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
            </button>
            <button uiSref="result" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" [disabled]="!additionalInfoTabForm.valid" (click)="saveData(additionalInfoTabForm, true)">
                <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> Save
            </button>
        </div>
    </div>
</form>
