Navbar
<!-- Navbar for Wizard Starts -->
<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs nav-fill" id="myTab">
        <div class="liner"></div>

        <li class="active nav-item">
            <a [ngClass]="(page==='Personal')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="personal" data-toggle="tab"
                title="Select Site">
                <span class="round-tabs one">
                    <i class="ft-user"></i>
                </span>
                Select Site
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Work')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="work" data-toggle="tab" title="work">
                <span class="round-tabs two">
                    <i class="ft-message-square"></i>
                </span> 
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Address')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="address" data-toggle="tab" title="address">
                <span class="round-tabs three">
                    <i class="ft-map-pin"></i>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Result')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="result" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                    <i class="ft-airplay"></i>
                </span>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- Navbar for Wizard Ends -->