<div class="form-group option-buttons">
    <span class="map-actions float-right mr-0">
        <!-- Buttons with Icon -->
        <!--<button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#addActionModal" (click)="openModal(action, 'lg')"><i class="fa fa-plus"></i> Action</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#addNoticeModal" (click)="openModal(notice, 'lg')"><i class="fa fa-plus"></i> Notice</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#addAssetModal" (click)="openModal(asset, 'lg')"><i class="fa fa-plus"></i> Asset</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#addPersonModal" (click)="openModal(person, 'lg')"><i class="fa fa-plus"></i> Person</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#addRequestModal" (click)="openModal(request, 'lg')"><i class="fa fa-plus"></i> Request</button>-->
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#addEmailModal" (click)="openModal(email, 'lg')"><i class="fa fa-plus"></i> Email</button>
    </span>
</div>
<!-- incident collapse -->
<ng-container id="collapseIncident" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px">
    <app-incident-details></app-incident-details>
</ng-container>
<!-- end incident collapse -->

<div class="card">
    <div class="card-content">
        <div class="card-body">
            <ng-template #email>
                <app-email-modal></app-email-modal>      
            </ng-template>
        </div>
    </div>
</div>