Add Incident

<div class="row text-left" matchHeight="card">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div>test</div>

          <section id="ngx">
            <div class="card text-left">
              <div class="card-content">
                <div class="card-body">
                  <div class="board">
                    <!-- Navigation Area (Circular Tabs) -->
                    <msw-navbar></msw-navbar>
                    <!-- End Navigation Area (Circular Tabs) -->

                    <!-- Content Area -->
                    <div class="tab-content">
                      <!-- Nested view  -->
                      <router-outlet> </router-outlet>
                    </div>
                    <!-- End Content Area -->
                  </div>
                  <!-- For Debugging: show our valid formData -->
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</div>