<div class="row text-left" matchHeight="card">
  <!--Modal with Default options starts-->
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>

          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">test</button>
        </div>
      </div>
    </div>
  </div>
</div>