/*datatable selected row bg colour - 454683 */
:host ::ng-deep .datatable-body-row.active{
    background-color: #3a2658 !important;
}

/*data table column headers - bold */
:host ::ng-deep .ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label{font-weight: 500 !important;}

/*data table row hover color*/
:host
  ::ng-deep
  .ngx-datatable.bootstrap:not(.cell-selection)
  .datatable-body-row:hover,
:host
  ::ng-deep
  .ngx-datatable.material:not(.cell-selection)
  .datatable-body-row:hover
  .datatable-row-group {
  background: #cfd0e6;
}

.form-group.row {
  margin-bottom: 0.25rem !important;
}

.view-asset-info-modal .table th, .view-asset-info-modal .table td {
  color: #75787d;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.view-asset-info-modal p.ml-3 {
  color: #75787d;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.view-asset-info-modal h4.card-title {
  font-size: 1rem;
}

.view-asset-info-modal hr {
  border-top: 1px solid #dee2e6;
}

::ng-deep .modal-dialog.modal-dialog-centered.modal-l {
  max-width: 750px !important;
}
