<app-stats></app-stats>
<div class="row incident-tabs">
    tabs here
    <!--<ngb-tabset type="pills" style="margin-top: 35px; width: 100%; margin-left: 1rem">
        <ngb-tab>
            <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> Fixed</ng-template>
            <ng-template ngbTabContent>
                <app-options></app-options>
                <app-filter></app-filter>
            </ng-template>
        </ngb-tab>
        <app-options></app-options>
        <app-filter></app-filter>
    </ngb-tabset>-->
</div>