<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-5">ENTER NOTIFICATIONS</h4>
        </div>

        <div class="form-group row col-12">
            <label class="col-md-3 label-control" for="projectinput6">Filter:</label>
            <div class="col-9 row ml-0">

                <!--<app-dt-filter _nghost-ifh-c376="" class="ng-star-inserted">
                    <section _ngcontent-ifh-c376="" id="filter" class="mb-3">
                        <div _ngcontent-ifh-c376="" class="row">
                            <div _ngcontent-ifh-c376="" class="col-6">
                                <div class="row col-12 mb-3">
                                    <input _ngcontent-ifh-c376="" type="text" placeholder="Filter"class="form-control col-4 mr-2">
                                    <button type="button" class="btn grey btn-secondary"><i class="ft ft-x"></i> Clear</button>

                                </div>

                            </div>
                        </div>
                    </section>
                </app-dt-filter>-->
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Notify: </label>
            <div class="col-md-9 row ml-0 pl-0">
                <div class="col-md-9">
                    <select id="projectinput7" name="interested" class="form-control">
                        <option value="none" selected="" disabled=""></option>
                        <option value="public">Public originated</option>
                        <option value="private">Private</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">Auto Notifications: </label>
            <div class="col-md-9 row ml-1">
                <label>Based on your selected impact, the following resources will automatically be notified:</label>
                <ul class="list-group" style="width:325px !important">
                    <li class="list-group-item">Mathew</li>
                    <li class="list-group-item">Mark</li>
                    <li class="list-group-item">Luke</li>
                    <li class="list-group-item">John</li>
                </ul>
            </div>
        </div>
    </div>
</form>