<div class="row">
    <!-- stat -->
    <div class="col-12 float-right mr-0 pr-0">
        <ul class="nav flex-end ml-auto incident-stats float-right">
            <li class="nab-item mr-1"><b>People</b></li>
            <li class="nab-item mr-3">xxx</li>
            <li class="nab-item mr-1"><b>Fixed</b></li>
            <li class="nab-item mr-3">xxx</li>
            <li class="nab-item mr-1"><b>Total</b></li>
            <li class="nab-item mr-3">644</li>
        </ul>
    </div>
    <!-- end stat -->
</div>

<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="row incident-tabs">
    <ngb-tabset type="pills" style="margin-top: 35px; width: 100%; margin-left: 1rem">
        <ngb-tab>
            <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> People</ng-template>
            <ng-template ngbTabContent>
                <section class="row">
                    <div class="col-12 form-group option-buttons">
                        <span class="incident-actions float-right mr-0">
                            <!-- Buttons with Icon -->
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Add new asset"><i class="fa fa-star"></i> New</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Delete highlighted asset"><i class="fa fa-user"></i> Delete</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Generate QR Code for highlighted asset"><i class="fa fa-check"></i> QR Code</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="View POPI audit trail for checked asset"><i class="fa fa-info"></i> POPI Info</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="View/Print checked asset(s)"><i class="fa fa-info"></i> View</button>
                        </span>
                    </div>
                </section>

                <!-- filter datatable -->
                <section id="filter" class="mb-3">
                    <div class="row">
                        <div class="col-12">
                            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Free Text Search' (keyup)='updateFilter_people($event)' />
                            <ngx-datatable #table class='bootstrap' [columns]="columns_people" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows_people'></ngx-datatable>
                        </div>
                    </div>
                </section>
                <!-- end filter datatable -->

            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template class="btn-light" ngbTabTitle><i class="fa fa-star-o"></i> Fixed Assets</ng-template>
            <ng-template ngbTabContent>
                <section class="row">
                    <div class="col-12 form-group option-buttons">
                        <span class="incident-actions float-right mr-0">
                            <!-- Buttons with Icon -->
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Add new asset"><i class="fa fa-star"></i> New</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Delete highlighted asset"><i class="fa fa-user"></i> Delete</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="Generate QR Code for highlighted asset"><i class="fa fa-check"></i> QR Code</button>
                            <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1" placement="top" ngbTooltip="View/Print checked asset(s)"><i class="fa fa-info"></i> View</button>
                        </span>
                    </div>
                </section>

                <!-- filter datatable -->
                <section id="filter" class="mb-3">
                    <div class="row">
                        <div class="col-12">
                            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Free Text Search' (keyup)='updateFilter_fixed($event)' />
                            <ngx-datatable style="width: 100% !important" #table class='bootstrap' [columns]="columns_fixed" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows_fixed'></ngx-datatable>
                        </div>
                    </div>
                </section>
                <!-- end filter datatable -->

            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>