<div class="form-group option-buttons">
    <span class="map-actions float-right mr-0">
        <!-- Buttons with Icon -->
        <button (click)="toggle()" id="bt" class="btn btn-raised btn-outline-secondary btn-min-width mr-1 mb-1" type="button"><i class="fa fa-plus"></i> Filter</button>

        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1"><i class="fa fa-star"></i> Something ?</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1"><i class="fa fa-user"></i> Save as JPG</button>
        <button type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1"><i class="fa fa-check"></i> Expand Grouped POIs</button>
    </span>
</div>

<!-- filter options -->
<ng-container *ngIf="show">
    <div class="w-100">
        <div class="col-12 card card-body border">
            <form>
                <div class="form-row">
                    <h4 class="col-4 card-title">PERIOD SELECTOR</h4>

                    <span class="col-8 text-right mr-0">
                        <span style="vertical-align: middle;">
                            <label class="label-control" for="projectinput5">Include incidents without location data in totals: </label>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label ml-2">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                </label>
                            </div>
                        </span>
                        <button type="submit" class="btn btn-primary mr-1">Save As Image</button>
                        <button type="submit" class="btn btn-primary mr-1">Clear</button>
                        <button type="submit" class="btn btn-primary mr-0">Apply</button>
                    </span>
                </div>
            </form>
            <section id="calendar">
                <section>calendar?</section>
                <ng-template #modalContent let-close="close">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalData?.action }}</h5>
                        <button type="button" class="close" (click)="close()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="form form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Event Title:</label>
                                    <input type="text" name="event-title" class="form-control" [(ngModel)]="modalData?.event.title" (keyup)="refresh.next()">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Primary Color:</label>
                                            <input type="color" name="primary-color" [(ngModel)]="modalData?.event.color.primary" (change)="refresh.next()">
                                        </div>	
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Secondary Color:</label>
                                            <input type="color" name="secondary-color" [(ngModel)]="modalData?.event.color.secondary" (change)="refresh.next()">
                                        </div>	
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Starts At:</label>
                                            <mwl-demo-utils-date-time-picker name="starts-at" [(ngModel)]="modalData?.event.start" (ngModelChange)="refresh.next()" placeholder="Not set">
                                            </mwl-demo-utils-date-time-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Ends At:</label>
                                            <mwl-demo-utils-date-time-picker name="ends-at" [(ngModel)]="modalData?.event.end" (ngModelChange)="refresh.next()" placeholder="Not set">
                                            </mwl-demo-utils-date-time-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>			
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                    </div>
                </ng-template>
                
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
                                <div class="col">
                                    <div class="btn-group d-none d-sm-none d-md-none d-lg-block">
                                        <a class="btn btn-raised btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                                            Previous
                                        </a>
                                        <a class="btn btn-raised btn-danger" mwlCalendarToday [(viewDate)]="viewDate">
                                            Today
                                        </a>
                                        <a class="btn btn-raised btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                                            Next
                                        </a>
                                    </div>
            
                                    <div class="btn-group d-block d-sm-block d-md-block d-lg-none">
                                        <a class="btn btn-raised btn-primary ft-chevron-left" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                                            <i class="icon icon-arrows-left"></i>
                                        </a>
                                        <a class="btn btn-raised btn-danger ft-bookmark" mwlCalendarToday [(viewDate)]="viewDate">
                                            <i class="icon icon-arrows-sign-down"></i>
                                        </a>
                                        <a class="btn btn-raised btn-primary ft-chevron-right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                                            <i class="icon icon-arrows-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col text-center align-self-center">
                                    <h6 class="text-uppercase mb-0"><!--{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}--></h6>
                                </div>
                                <div class="col text-right">
                                    <div class="btn-group d-none d-sm-none d-md-none d-lg-block">
                                        <a class="btn btn-raised btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
                                            Month
                                        </a>
                                        <a class="btn btn-raised btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
                                            Week
                                        </a>
                                        <a class="btn btn-raised btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                                            Day
                                        </a>
                                    </div>
            
                                    <div class="btn-group d-block d-sm-block d-md-block d-lg-none">
                                        <a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'month'" [class.active]="view === 'month'">
                                            <i class="fa fa-th"></i>
                                        </a>
                                        <a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'week'" [class.active]="view === 'week'">
                                            <i class="fa fa-columns"></i>
                                        </a>
                                        <a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'day'" [class.active]="view === 'day'">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </div>
            
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-raised btn-primary float-right" (click)="addEvent()">
                                        Add Event
                                    </button>
                                </div>
                            </div>
                            
                            <div [ngSwitch]="view">
                                <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                                 (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                                </mwl-calendar-month-view>
                                <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)">
                                </mwl-calendar-week-view>
                                <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)">
                                </mwl-calendar-day-view>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</ng-container>
<!-- end filter options -->

<!--Basic google map starts-->
<section id="map" style="margin-top:0px !important; padding-top:0px !important">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top:0px !important; padding-top:0px !important">
                <div class="card-content" style="margin-top:0px !important; padding-top:0px !important">
                    <div class="card-body mt-2" style="margin-top:0px !important; padding-top:0px !important">
                        <agm-map [latitude]="lat" [longitude]="lng" style="height: 500px; width: 800px">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic google map ends-->