<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-3">PEOPLE AND DOCUMENTS (OPTIONAL)</h4>
        </div>

        <!-- this is a common / shared component with incident/docs tab -->
        <div class="form-group row col-6 mb-0">
            <label class="col-md-3 label-control" for="projectinput9">Documents:</label>
            <div class="col-md-9 row ml-0">
                <fieldset class="form-group">
                    <div class="custom-file  mx-auto d-block">
                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Upload</label>
                        <button (click)="addIncidentDocument($event)" type="button" class="btn white btn-secondary">Test Add</button>
                      </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput9">&nbsp;</label>
            <div class="col-md-9 row ml-0 pl-0">
                <ul *ngFor="let item of incidentDocuments" class="list-group" style="margin-left: 1.3rem !important; width:330px !important">
                    <li class="list-group-item">{{ item }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group row col-6 mb-0">
            <label class="col-md-3 label-control" for="projectinput9">People:</label>
            <div class="col-md-9 row ml-0">
                <button type="button" class="btn white btn-secondary">Add People</button> <!-- (click)="addIncidentAsset($event)" -->
            </div>
        </div>

        <div class="form-group row col-12" style="margin-left: 0px">
            <label class="col-md- 3 label-control" for="projectinput9">&nbsp;</label>
            <div class="col-md-9 row">
                <div *ngFor="let item of incidentAssets" [attr.task-id]="item.Id">
                    <div class="incident-people card">
                        <div class="card-body pt-3 text-left">
                            <div class="clearfix">
                            <h5 class="text-bold-500 primary float-left">{{ item.name }}</h5>
                            <div class="actions float-right">
                                <i class="ft-edit cursor-pointer mr-1 info" (click)="editTask(item.Id);"></i>
                                <i class="ft-trash-2 cursor-pointer orange" (click)="deleteTask(item.Id);"></i>
                            </div>
                            </div>
                            <p>{{ item.dateOfBirth }}</p>
                            <img src="/assets/img/portrait/small/avatar-s-3.png" class="rounded-circle width-50 mr-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
