<form #peopleTabForm="ngForm" class="editForm" novalidate>
    <div>
      <div class="tab-pane active">
        <div class="danger text-bold-400 font-medium-4 mt-3 mb-4">{{title}}</div>
        <br />

        <div class="row" *ngIf="allPeopleCashed.length === 0">
          <div class="text-center m-5">
            <p>Loading people for selected criteria...</p>
            <app-loading-spinner></app-loading-spinner>
          </div>
        </div>

         <!-- PEOPLE SEARCH -->
        <div class="row" *ngIf="allPeopleCashed.length > 0">
          <div class="col-6 col-sm-4">
            <div class="form-group">
                <form class="mt-1" role="search">
                  <div class="position-relative has-icon-right">
                      <input type="text" class="form-control round" placeholder="Search for people" name="searchString" (keyup)='filterPeople($event)'>
                      <div class="form-control-position">
                          <i class="ft-search"></i>
                      </div>
                  </div>
              </form>

            </div>
          </div>
        </div>

        <!-- AVAILABLE PEOPLE -->
        <div *ngIf="allPeopleCashed.length > 0" class="row text-center p-3 col-12 overflow-scroll people-slider"> <!-- style="height: 260px; border: 1px solid #dddddd; overflow-x: auto; flex-wrap: nowrap;" -->

          <div class="col person-container" *ngFor="let person of allPeople">

                <div class="col text-center mb-1"><a href="javascript:void(0)" title="Add person to incident" class="btn btn-primary btn-fab" (click)="addPerson(person.assetId)"><i class="ft-plus font-medium-2"></i></a></div>

                <img alt="{{person.name}} {{person.lastName}}" class="align-self-center" *ngIf="person.image !== ''" src="{{facialImagesUrl}}{{person.image}}">
                <div class="text-center col-12">
                  <h4 class="font-medium-1 mt-2 mb-0">{{person.name}} {{person.lastName}}</h4>
                  <small>ID: {{person.idNumber}}</small>
                </div>


              <!-- <a href="javascript:void(0)" class="btn btn-outline-danger width-100 mt-2" (click)="addPerson(person.assetId)">Add</a> -->
              <!-- <a class="d-flex ml-3 btn btn-raised btn-round gradient-blackberry py-2 width-150 justify-content-center white">Added</a> -->
          </div>
        </div>

        <!-- SELECTED PEOPLE -->
        <div *ngIf="selectedPeople.length > 0" class="row mt-5 mb-5"> <!-- style="height: 260px; border: 1px solid #dddddd; overflow-x: auto; flex-wrap: nowrap;" / class: text-center p-3 col-12 overflow-scroll -->

          <p class="font-medium-2 text-bold-500">Selected People</p>

          <div class="col-12">
            <div class="col-1 person-container text-center" *ngFor="let person of selectedPeople">

              <div class="col mb-3 font-medium-5 text-center"><a href="javascript:void(0)" title="Remove person from incident" (click)="removePerson(person.assetId)"><i class="ft-trash-2 danger"></i></a></div>
              <img alt="{{person.name}} {{person.lastName}}" class="align-self-center" *ngIf="person.image !== ''" src="{{facialImagesUrl}}{{person.image}}">
              <div class="text-center col-12">
                <h4 class="font-medium-1 mt-2 mb-0">{{person.name}} {{person.lastName}}</h4>
                <small>ID: {{person.idNumber}}</small>
              </div>

            </div>
          </div>
        </div>




       <!--  <div class="row">
          <div class="col-md-3 col-12">COL 1</div>
          <div class="col-md-3 col-12">COL 2</div>
          <div class="col-md-3 col-12">COL 3</div>
        </div> -->

        <!-- WIZARD NAVIGATION BUTTONS -->
        <div class="form-group text-center space-20 mt-5">
            <button uiSref="details" type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancelStep()">
                <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Previous
            </button>
            <button uiSref="additionalInfo" type="button" class="btn btn-raised btn-primary mr-1" [disabled]="!peopleTabForm.valid" (click)="saveData(peopleTabForm)">
                Next <span style="margin-left:10px;"><i class="ft-chevron-right"></i></span>
            </button>
            <button uiSref="additionalInfo" type="button" class="btn btn-raised btn-primary mr-1" [disabled]="!peopleTabForm.valid" (click)="saveData(peopleTabForm)">
                <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> Save
            </button>
        </div>
      </div>
    </div>
  </form>
