.people-slider{height: 270px; border: 1px solid #dddddd; overflow-x: auto; flex-wrap: nowrap;}

.person-container{background-color: #f8f6f6; border: 1px solid #efefef; padding: 20px; margin: 0 5px; min-height:240px; min-width: 180px; max-width: 180px; overflow: hidden; text-align: center; display:inline-block}
.person-container img{max-width: 130px; max-height: 100px;}
