<!-- filter datatable -->
<section id="filter" class="mb-3">
    <div class="row col-12">
        <div>
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Free Text Search' (keyup)='updateFilter($event)' />
            table here
            <!--<ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'></ngx-datatable>-->
        </div>
    </div>
</section>
<!-- end filter datatable -->