<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
  <div class="row">
    <div class="col-12">
      <div class="card profile-with-cover">
        <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
        <div class="media profil-cover-details row">
          <div class="col-5">
            <div class="align-self-start halfway-fab pl-3 pt-2">
              <div class="text-left">
                <h3 class="card-title white">{{userVO.firstName}} {{userVO.lastName}}</h3>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="align-self-center halfway-fab text-center">
              <a class="profile-image">
                <img src="assets/img/portrait/avatars/avatar-08.png"
                  class="rounded-circle img-border gradient-summer width-100" alt="Card image">
              </a>
            </div>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about" *ngIf="currentPage === 'About'">
  <div class="row">
    <div class="col-12">
      <div class="content-header">About</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Personal Information</h5>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!--<div class="mb-3">
                            <span class="text-bold-500 primary">About Me:</span>
                            <span class="d-block overflow-hidden">Hi, I’m Jose, I’m 29 and I work as a Ninja Developer for the
                                “PIXINVENT” Creative Studio. In my research, I follow the flow of early medieval slavery from viking 
                                raids in the west, through the booming ports of the Scandinavian north, and out into the Islamic world.
                                Reading texts against the grain and seeing artifacts as traces of the past can make their lives once 
                                again visible to us today. This website documents my efforts to do just that, and I hope it will prove 
                                a resource and an inspiration for others in similar pursuits.
                            </span>
                        </div>
                        <hr>-->
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i>
                        Username:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.firstName}} {{userVO.lastName}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> Id:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.id}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Gender:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.gender}}</span>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Manager:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.managerAccess}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                    <a class="d-block overflow-hidden">{{userVO.email}}</a>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Security Group:</a></span>
                    <a class="d-block overflow-hidden">{{userVO.securityGroup.description}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Cell
                        Number:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.cellNumber}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Main Contact
                        Number:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.contactNumberMain}}</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Alternative Contact
                        Number:</a></span>
                    <span class="d-block overflow-hidden">{{userVO.contactNumberAlt}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About section ends-->