<!-- Result tab Form starts -->
<div class="tab-pane active">
    <h3 class="text-center mt-3 content-header">{{title}}</h3>

   <!-- Show spinner if loading data -->
    <div *ngIf="isSaving" class="text-center mt-5 mb-5">
        <app-loading-spinner></app-loading-spinner>
    </div>

    <!-- <ngb-alert type="success" [dismissible]="false" *ngIf="isSaved">
        <strong>Success!</strong> Your incident has been saved.
    </ngb-alert> -->

     <!-- WIZARD NAVIGATION BUTTONS -->
     <div class="form-group text-center space-20 mt-5">
        <button uiSref="location" type="button" class="btn btn-raised btn-secondary mr-1 btn-wizard" (click)="backToStart()">
            <span style="margin-right:10px;"><i class="ft-chevron-left"></i></span> Create Another
        </button>

        <button uiSref="people" type="button" class="btn btn-raised btn-primary mr-1 btn-wizard" (click)="goToList()">
            <span style="margin-left:10px;"><i class="fa fa-check-square-o"></i></span> View List
        </button>
    </div>
</div>
<!-- Result tab Form ends -->
