/* You can add global styles to this file, and also import other style files */

/*red text*/
.red {color: red !important}

/*set colour or default button*/
.btn-primary.btn-raised, .btn-primary.btn-fab{background-color: #FF586B !important; border-color: #FF586B !important;}

.rad-label{font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; color: rgba(0, 0, 0, 0.87); letter-spacing: 0.3px; font-size: 1rem; text-transform: none; font-weight: 400;}

/* ----------data table----------------*/
/*empty row*/
.ngx-datatable .empty-row{padding:40px}
