<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
            SHS Incident Desk - Improve Your World
        </p>
    </div>
</footer>
<!--Footer Ends-->