<!-- Navbar for Wizard Starts -->
<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs nav-fill" id="myTab">
        <div class="liner"></div>

        <li class="active nav-item">
            <a [ngClass]="(page==='Sites')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="sites" data-toggle="tab" title="sites">
                <span class="round-tabs one">
                    <i class="ft-map-pin"></i> Sites
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Categories')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="categories" data-toggle="tab" title="categories">
                <span class="round-tabs two">
                    <i class="fa fa-tag"></i> Categories
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Location')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="location" data-toggle="tab" title="location">
                <span class="round-tabs three">
                    <i class="fa fa-map-o"></i> Location
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Details')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="details" data-toggle="tab" title="details">
                <span class="round-tabs four"> <!-- fa-info / -->
                    <i class="fa fa-info-circle"></i> Details
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='People')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="people" data-toggle="tab" title="people">
                <span class="round-tabs four">
                    <i class="fa fa-users"></i> People
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Additional Info')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="additionalInfo" data-toggle="tab" title="additionalInfo">
                <span class="round-tabs four">
                    <i class="fa fa-question"></i> Additional Info
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Actions')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="actions" data-toggle="tab" title="actions">
                <span class="round-tabs four">
                    <i class="fa fa-share"></i> Actions
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Notifications')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="notifications" data-toggle="tab" title="notifications">
                <span class="round-tabs four">
                    <i class="fa fa-send"></i> Notifications
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Assets')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="assets" data-toggle="tab" title="assets">
                <span class="round-tabs four">
                    <i class="fa fa-sitemap"></i> Assets
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Result')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="result" data-toggle="tab" title="result">
                <span class="round-tabs four">
                    <i class="fa fa-check"></i> Result
                </span>
            </a>
        </li>


        <!-- <li class="nav-item">
            <a [ngClass]="(page==='Additional Info')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="additionalInfo" data-toggle="tab" title="additionalInfo">
                <span class="round-tabs four">
                    <i class="ft-airplay"></i>
                </span>
            </a>
        </li>-->
    </ul>
    <div class="clearfix"></div>
</div>
<!-- Navbar for Wizard Ends -->
