<form class="form form-horizontal">
    <div class="form-body">
        <div class="card-header">
            <h4 class="card-title mb-5">SELECT CATEGORY</h4>
        </div>

        <div class="form-group row col-6">
            <label class="col-md-3 label-control" for="projectinput6">Category:</label>
            <div class="col-9 row ml-0">
                
                <!--<div>
                    <ngx-datatable #categorytable [rows]="rows" [columns]="columns"> </ngx-datatable>
                </div>-->

                <!--<app-dt-filter class="ng-star-inserted">
                    <section id="filter" class="mb-3">
                        <div class="row">
                            <div>
                                <div class="row col-12 mb-3">
                                    <input type="text" placeholder="Filter"class="form-control col-4 mr-2">
                                    <button type="button" class="btn grey btn-secondary mr-1"><i class="ft ft-x"></i> Clear</button>
                                    <button type="button" class="btn grey btn-secondary"><i class="ft ft-skyatlas"></i> Open</button>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </app-dt-filter>-->
            </div>
        </div>
    </div>
</form>